<?xml version=\"1.0\" encoding=\"UTF-8\"?>
<!DOCTYPE plist PUBLIC \"-//Apple//DTD PLIST 1.0//EN\" \"http://www.apple.com/DTDs/PropertyList-1.0.dtd\">
<plist version=\"1.0\">
<dict>
   <key>PayloadContent</key>
   <array>
       <dict>
           <key>EmailAddress</key>
           <string>${email}</string>
           <key>Host</key>
           <string>${host}</string>
           <key>PayloadDisplayName</key>
           <string>OX EAS</string>
           <key>PayloadIdentifier</key>
           <string>eas.profile.eas</string>
           <key>PayloadOrganization</key>
           <string>OX</string>
           <key>PayloadType</key>
           <string>com.apple.eas.account</string>
           <key>PayloadUUID</key>
           <string>077E36E4-9579-47F0-BACF-62A55FEA11E8</string>
           <key>PayloadVersion</key>
           <integer>1</integer>
           <key>SSL</key>
           <true/>
           <key>UserName</key>
           <string>${username}</string>
       </dict>
   </array>
   <key>PayloadDescription</key>
   <string>Profilbeschreibung</string>
   <key>PayloadDisplayName</key>
   <string>OX EAS</string>
   <key>PayloadIdentifier</key>
   <string>eas.profile</string>
   <key>PayloadOrganization</key>
   <string>OX</string>
   <key>PayloadRemovalDisallowed</key>
   <false/>
   <key>PayloadType</key>
   <string>Configuration</string>
   <key>PayloadUUID</key>
   <string>E4DB69E7-EC59-418E-A883-14944D5BC48F</string>
   <key>PayloadVersion</key>
   <integer>1</integer>
</dict>
</plist>
