Source: open-xchange-config-hosting
Section: unknown
Priority: optional
Maintainer: Marcus Klein <marcus.klein@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), ant-optional (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk
Standards-Version: 3.6.1

Package: open-xchange-config-hosting
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange
Provides: open-xchange-config
Conflicts: open-xchange-config-standard
Description: Open-Xchange server configuration for hosting systems
