====[       ${mail.event.summary!""}       ]====

${labels.timezoneInfo!""}

${labels.whenLabel} ${formatters.dateSpec} ${formatters.interval}
<#if mail.event.location??>
${labels.whereLabel} ${mail.event.location!""}
</#if>


<#if mail.event.description??>
====================================
${mail.event.description!""}
====================================
</#if>

== ${labels.participantsLabel} ==

<#list mail.participants as participant>
${participantHelper.participantLine(participant)}
</#list>

== ${labels.resourcesLabel} ==

<#list mail.resources as participant>
${participantHelper.participantLine(participant)}
</#list>

== ${labels.detailsLabel} ==

${labels.showAsLabel} ${labels.showAs}
${labels.createdLabel} ${formatters.created} - ${labels.creator}

${labels.directLink!""}

${labels.attachmentNote!""}
