<#include "notify.common.button.tmpl">
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
</head>
<body>
 <#escape x as x?html>
  
  <p id="summary">
    ${summary}
  </p>
  
  <#if description?has_content>
    <p id="description"><cite>${description}</cite></p>
  </#if>

  <p id="start_date"><cite>${start_date}</cite></p>

  <#if location?has_content>
    <p id="location"><cite>${location}</cite></p>
  </#if>

  <p id="attendees"><cite>${attendees}</cite></p>
  
  <p id="url"><cite>${url}</cite></p>
  
 </#escape>
 
 <#include "notify.common.footer.html.tmpl">
 
</body>
</html>