Source: open-xchange-easylogin
Section: unknown
Priority: optional
Maintainer: Holger Achtziger <info@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk, open-xchange-common (>= @OXVERSION@), open-xchange-global (>=@OXVERSION@), open-xchange-server (>=@OXVERSION@)
Standards-Version: 3.6.1

Package: open-xchange-easylogin
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, j2re1.5|sun-java5-jre, open-xchange-common (>= @OXVERSION@), open-xchange-global (>=@OXVERSION@), open-xchange-server (>=@OXVERSION@)
Provides: open-xchange-easylogin
Conflicts: open-xchange-easylogin
Replaces: open-xchange-easylogin
Description: Open-Xchange Easylogin
