feature_name: Doveadm
properties:
  - key: com.openexchange.dovecot.doveadm.enabled
    description: |
      Specifies whether the connector for the Dovecot DoveAdm REST interface will be enabled or not
    defaultValue: false
    version: 7.8.3
    reloadable: false
    configcascadeAware: false
    related: 
    file: doveadm.properties
    tags: ["Doveadm"]
  - key: com.openexchange.dovecot.doveadm.endpoints
    description: |
      Specifies the URIs to the Dovecot DoveAdm REST interface end-points. 
      e.g. "http://dovecot1.host.invalid:8081, http://dovecot2.host.invalid:8081, http://dovecot3.host.invalid:8081"

      Moreover connection-related attributes are allowed to be specified to influence HTTP connection and pooling behavior
      com.openexchange.dovecot.doveadm.endpoints.totalConnections        The number of total connections held in HTTP connection pool
      com.openexchange.dovecot.doveadm.endpoints.maxConnectionsPerRoute  The number of connections per route held in HTTP connection pool; or less than/equal to 0 (zero) for auto-determining
      com.openexchange.dovecot.doveadm.endpoints.readTimeout             The read time-out in milliseconds
      com.openexchange.dovecot.doveadm.endpoints.connectTimeout          The connect time-out in milliseconds
      com.openexchange.dovecot.doveadm.endpoints.checkInterval           The time interval in milliseconds when to check if a previously black-listed end-point is re-available again

      Full example :
      com.openexchange.dovecot.doveadm.endpoints=http://dovecot1.host.invalid:8081, http://dovecot2.host.invalid:8081
      com.openexchange.dovecot.doveadm.endpoints.totalConnections=100
      com.openexchange.dovecot.doveadm.endpoints.maxConnectionsPerRoute=0 (max. connections per route is then determined automatically by specified end-points)
      com.openexchange.dovecot.doveadm.endpoints.readTimeout=2500
      com.openexchange.dovecot.doveadm.endpoints.connectTimeout=1500
      com.openexchange.dovecot.doveadm.endpoints.checkInterval=60000

      The values can be configured within a dedicated .properties file; e.g. 'doveadm.properties'.
    defaultValue: 
    version: 7.8.3
    reloadable: false
    configcascadeAware: false
    related: 
    file: doveadm.properties
    tags: ["Doveadm"]
  - key: com.openexchange.dovecot.doveadm.apiSecret
    description: |
      Specifies the API secret to communicate with the Dovecot DoveAdm REST interface
    defaultValue: 
    version: 7.8.3
    reloadable: false
    configcascadeAware: false
    related: 
    file: doveadm.properties
    tags: ["Doveadm"]