feature_name: Mail Authenticity
properties:
    - key: com.openexchange.mail.authenticity.enabled
      description: |
        Defines whether the mail authenticity core feature is enabled.
      defaultValue: false
      version: 7.10.0
      reloadable: true
      configcascadeAware: true
      file: mailAuthenticity.properties
      packageName: open-xchange-mail-authenticity
      tags: ["Mail Authenticity","Mail"]
    - key: com.openexchange.mail.authenticity.threshold
      description: |
        Specifies the date threshold. Only messages having received date equal to or after that date are considered.
      defaultValue: 0
      version: 7.10.0
      reloadable: true
      configcascadeAware: true
      file: mailAuthenticity.properties
      packageName: open-xchange-mail-authenticity
      tags: ["Mail Authenticity","Mail"]
    - key: com.openexchange.mail.authenticity.authServId
      description: |
        Specifies the authserv-id identifiers to consider, see https://tools.ietf.org/html/rfc7601#section-2.2.
        Only Authentication-Results headers with this ID will be considered; also allows wildcards like '*' (any string) or
        '?' (any character).

        This option is mandatory.
      defaultValue: 
      version: 7.10.0
      reloadable: true
      configcascadeAware: true
      file: mailAuthenticity.properties
      packageName: open-xchange-mail-authenticity
      tags: ["Mail Authenticity","Mail"]
    - key: com.openexchange.mail.authenticity.trustedDomains.tenants
      description: |
        A comma separated list of tenants.
      defaultValue: 
      version: 7.10.0
      reloadable: true
      configcascadeAware: false
      related: 
        - "com.openexchange.mail.authenticity.trustedDomains.[tenant].domains"
        - "com.openexchange.mail.authenticity.trustedDomains.[tenant].image.[imageId]"
        - "com.openexchange.mail.authenticity.trustedDomains.[tenant].fallbackImage"
      file: mailAuthenticity.properties
      packageName: open-xchange-mail-authenticity
      tags: ["Mail Authenticity","Mail"]
    - key: com.openexchange.mail.authenticity.trustedDomains.[tenant].domains
      description: |
        A comma separated list of trusted domain configurations. 
        Each configuration consists of a trusted domain and an optional imageId separated by a colon (<code>domain[:imageId]</code>). 
        The domain also support <code>*</code> wildcards.

        Here are some valid domain configurations provided that an image with id 'img1' is also configured:
        <pre>
        sub.domain.com
        sub.domain.com:img1
        *.domain.com
        *.domain.com:img1
        </pre>
        
        Note:  
        The <code>[tenant]</code> must either be replaced with a tenant identifier or must be omitted (e.g. for single tenant systems).

        A complete configuration example for two tenants could look like this:
        <pre>
        com.openexchange.mail.authenticity.trustedDomains.tenants = myhost1, myhost2

        com.openexchange.mail.authenticity.trustedDomains.myhost1.image.1 = http://myhost1/imgs/icon.png
        com.openexchange.mail.authenticity.trustedDomains.myhost1.fallbackImage = /images/fallback.jpg
        com.openexchange.mail.authenticity.trustedDomains.myhost1.domains = *.myhost1.com, *.myhost1.de:1

        com.openexchange.mail.authenticity.trustedDomains.myhost2.image.1 = http://myhost2/imgs/icon.png
        com.openexchange.mail.authenticity.trustedDomains.myhost2.domains = *.myhost2.com:1, otherdomain.com
        </pre>
      defaultValue:
      version: 7.10.0
      reloadable: true
      configcascadeAware: false
      related: 
        - "com.openexchange.mail.authenticity.trustedDomains.tenants"
        - "com.openexchange.mail.authenticity.trustedDomains.[tenant].image.[imageId]"
        - "com.openexchange.mail.authenticity.trustedDomains.[tenant].fallbackImage"
      file: mailAuthenticity.properties
      packageName: open-xchange-mail-authenticity
      tags: ["Mail Authenticity","Mail"]
    - key: com.openexchange.mail.authenticity.trustedDomains.[tenant.]image.[imageId]
      description: |
        For each tenant a set of images can be configured which is to be shown by clients for trusted domains.

        Note:  
        The <code>[tenant]</code> must either be replaced with a tenant identifier or must be omitted (e.g. for single tenant systems).  
        The <code>[imageId]</code> must be a tenant unique identifier. E.g. an ascending number.

        For example:
        <pre>
        com.openexchange.mail.authenticity.trustedDomains.image.1 = http://www.myhost2.com/images/icon.jpg

        com.openexchange.mail.authenticity.trustedDomains.myhost1.image.1 = http://www.myhost1.com/images/icon.png
        com.openexchange.mail.authenticity.trustedDomains.myhost1.image.2 = http://www.myhost1.com/images/icon2.png

        com.openexchange.mail.authenticity.trustedDomains.myhost2.image.1 = http://www.myhost2.com/images/icon.jpg
        </pre>
      defaultValue:
      version: 7.10.0
      reloadable: true
      configcascadeAware: false
      related:
        - "com.openexchange.mail.authenticity.trustedDomains.tenants"
        - "com.openexchange.mail.authenticity.trustedDomains.[tenant].domains"
        - "com.openexchange.mail.authenticity.trustedDomains.[tenant].fallbackImage"
      file: mailAuthenticity.properties
      packageName: open-xchange-mail-authenticity
      tags: ["Mail Authenticity","Mail"]
    - key: com.openexchange.mail.authenticity.trustedDomains.[tenant].fallbackImage
      description: |
        For each tenant a fallback image can be configured which is shown by the client for trusted domains without a configured image.

        Note:  
        The <code>[tenant]</code> must either be replaced with a tenant identifier or must be omitted (e.g. for single tenant systems).

        For example:
        <pre>
        com.openexchange.mail.authenticity.trustedDomains.fallbackImage = /images/fallback.png
        com.openexchange.mail.authenticity.trustedDomains.myhost1.fallbackImage = http://www.myhost1.com/images/fallback.png
        com.openexchange.mail.authenticity.trustedDomains.myhost2.fallbackImage = http://www.myhost2.com/images/fallback.jpg
        </pre>
      defaultValue:
      version: 7.10.0
      reloadable: true
      configcascadeAware: false
      related: 
        - "com.openexchange.mail.authenticity.trustedDomains.tenants"
        - "com.openexchange.mail.authenticity.trustedDomains.[tenant].image.[imageId]"
        - "com.openexchange.mail.authenticity.trustedDomains.[tenant].domains"
      file: mailAuthenticity.properties
      packageName: open-xchange-mail-authenticity
      tags: ["Mail Authenticity","Mail"]



