<#--                                                                             -->
<#--                                                                             -->
<#--                                                                             -->
<#macro display key value title>
	<#if value != "">
		<span class="${key}">${value?html}</span>
	</#if>
</#macro>

<#macro display_link_value contact>
	<#if contact.displayName??>
		${contact.displayName?html}
	<#elseif contact.givenName?? || contact.surName?? || contact.middleName??>
		${contact.title!""?html}
		${contact.givenName!""?html}
		${contact.middleName!""?html}
		${contact.surName!""?html}
	<#elseif contact.company??>
		${contact.company?html}
	<#elseif contact.email1??>
		${contact.email1?html}
	<#elseif contact.email2??>
		${contact.email2?html}
	<#elseif contact.email3??>
		${contact.email3?html}
	</#if>
	<@display key="ox_suffix" title="Suffix" value=contact.suffix!"" />
</#macro>

<#macro render_name contact>
	<#if contact.givenName?? || contact.surName?? || contact.middleName??>
					<tr>
						<td class="left">Name:</td>
						<td class="right fn n">
							<@display key="title" title="Title" value=contact.title!"" />
							<@display key="given-name" title="First name" value=contact.givenName!"" />
							<@display key="additional-name" title="Second name" value=contact.middleName!"" />
							<@display key="family-name" title="Last name" value=contact.surName!"" />
							<@display key="honorific-suffix" title="Suffix" value=contact.suffix!"" />
						</td>
					</tr>
	</#if>
</#macro>

<#macro render key value title type="" type0="" type1="" type2="">
	<#if value != "">
					<tr class="${key}">
						<td class="left">
							${title} <#if type != "" || type0 != ""  || type1 != ""  || type2 != "" >(</#if><#if type != ""> <span class="type">${type}</span></#if><#if type0 != ""> <span class="type">${type0}</span></#if><#if type1 != ""> <span class="type">${type1}</span></#if><#if type2 != ""> <span class="type">${type2}</span></#if><#if type != "" || type0 != ""  || type1 != ""  || type2 != "" >)</#if>
							:
						</td>
						<td class="right">
							<span class="value">${value?html}</span>
						</td>
					</tr>
	</#if>
</#macro>

<#macro ignore key value title type="">
</#macro>

<#macro render_mail value type>
	<#if value != "">
					<tr>
						<td class="left">e-Mail :</td>
						<td class="right">
							<a href="mailto:${value?html}" class="email">
								${value?html}
								<#if type != "">(<span class="type">${type}</span>)</#if>
							</a>
						</td>
					</tr>
	</#if>
</#macro>

<#macro render_organisation name>
	<#if name != "">
					<tr>
						<td class="left">Organisation:</td>
						<td class="right org"><span class="organization-name">${name}</span></td>
					</tr>
	</#if>
</#macro>

<#macro image contact>
	<#if contact.containsImage1()>
		<img src="${request.scheme!"http"}://${request.serverName}${utils.getImageURL(publication, contact)}" alt="" />
	</#if>
</#macro>

<#macro imageMicroformatted contact>
	<#if contact.containsImage1()>
		<img class="photo" src="${request.scheme!"http"}://${request.serverName}${utils.getImageURL(publication, contact)}"  alt="" />
	</#if>
</#macro>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
<head>
	<title>OX PubSub</title>
	<link rel="profile" href="http://microformats.org/profile/hcard">
	<style type="text/css">
	<!--
	html, body {
		margin: 0;
		padding: 0;
		border: none;
		height: 100%;
		width: 100%;
		background: #e1e4eb;
	}

	html * {
		font-family: Helvetica, Arial, sans-serif;
		color: #000;
	}
	#nav {
		float:left;
		width: 20%;
	}
	#contacts {
		float: left;
		<#if (contacts?size > 2)>
		width: 70%;
		<#else>
		width: 95%;
		</#if>
	}
	#disclaimer {
		clear: both;
		padding: 10em 35% 0 35%;
		text-align: justify;
	}
	#disclaimer p, #disclaimer h2{
		font-size: 60%;
	}
	#disclaimer h2 {
		text-align: center;
	}
	td.left {
		width: 25%;
		text-align: right;
		padding-right: 1em;
	}
	table.a_contact, td.right {
		width: 100%;
	}
	td.right, td.right span {
		color: #446;
		font-weight: bold;
		text-align: left;
	}
	.ox_contact{
		clear: both;
	}
	#nav, .ox_contact {
		margin: .5em;
		border: 1px solid #999;
		background: #fff;
		padding: .5em;
	}
	#nav a, #nav a:visited, #nav a:hover, #nav a:link {
		font-weight: bold;
	}
	a, a:visited, a:hover, a:link {
		text-decoration: none;
		color: #446;
	}
	#nav li, #nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		left-indent: 0;
	}
	.back {
		text-align: center;
		font-size: 75%;
		text-decoration none;
		color: #446;
	}
	.ox_image{
		float:right;
	}
	.message {
		margin-top: 2em;
		text-align: center;
	}
	.hidden {
		display: none;
	}
	-->
	</style>
</head>

<body>
	<a id="top">

	<#assign contacts = utils.onlyPublic(contacts)>
	<#if (contacts?size == 0)>
		<div class="message">Folder is empty</div>
	</#if>

	<#if (contacts?size > 2)>
	<div id="nav">
		<ul>
			<#list contacts as contact>
			<li>
				<a href="#contact_${contacts?seq_index_of(contact)}">
					<@display_link_value contact=contact />
				</a>
			</li>
			</#list>
		</ul>
	</div>
	</#if>

	<div id="contacts">
		<#list contacts as contact>
		<div class="vcard" id="contact_${contacts?seq_index_of(contact)}">
			<@imageMicroformatted contact=contact />
			<table class="a_contact">
				<@render_name contact=contact />
				<@render key="nickname" title="Display name" value=contact.displayName!"" />
				<@render_organisation name=contact.company!"" />
				<@render key="ox_profession" title="Profession" value=contact.profession!"" />
				<@render key="ox_department" title="Department" value=contact.department!"" />
				<@render key="role" title="Position" value=contact.position!"" />
				<@render key="ox_employeeType" title="Employee type" value=contact.employeeType!"" />
				<@render key="url" title="Url" value=contact.uRL!"" />
				<@render key="note" title="Note" value=contact.note!"" />
			</table>
		<div class="back"><a href="#top">Back to the top</a></div>
		</div>
		</#list>
	</div>

	<#if (contacts?size > 0)>
	<div id="disclaimer">
		${privacy}
	</div>
	</#if>
</body>
</html>