<#macro display key value title>
	<#if value != "">
		<span class="${key}">${value?html}</span>
	</#if>
</#macro>

<#macro display_link_value contact>
  <#if contact.givenName?? || contact.surName?? || contact.middleName??>
		${contact.givenName!""?html}
		${contact.middleName!""?html}
		${contact.surName!""?html}
	<#elseif contact.displayName??>
		${contact.displayName?html}
	<#elseif contact.company??>
		${contact.company?html}
	<#elseif contact.email1??>
		${contact.email1?html}
	<#elseif contact.email2??>
		${contact.email2?html}
	<#elseif contact.email3??>
		${contact.email3?html}
	</#if>
	<@display key="ox_suffix" title="Suffix" value=contact.suffix!"" />
</#macro>

<#macro render_name contact>
	<#if contact.givenName?? || contact.surName?? || contact.middleName??>
	  <div class="group">
			<div class="key co_4">
				<span class="key">
					Name:
				</span>
			</div>
			<div class="co_12">
				<span class="value">
					<@display key="ox_title" title="Title" value=contact.title!"" />
					<@display key="ox_firstName" title="First name" value=contact.givenName!"" />
					<@display key="ox_secondName" title="Second name" value=contact.middleName!"" />
					<@display key="ox_lastName" title="Last name" value=contact.surName!"" />
					<@display key="ox_suffix" title="Suffix" value=contact.suffix!"" />
				</span>
			</div>
		</div>
	</#if>
</#macro>

<#macro render key value title>
	<#if value != "">
		<div class="group">
			<div class="key co_4">
				<span class="key">
					${title}:
				</span>
			</div>
			<div class="co_12">
				<span class="${key} value">
					${value?html}
				</span>
			</div>
		</div>
	</#if>
</#macro>

<#macro render_mail key value title>
	<#if value != "">
		<div class="group">
			<div class="key co_4">
				<span class="key">
					${title}:
				</span>
			</div>
			<div class="co_12">
				<span class="${key} value">
					<a href="mailto:${value?html}"><span class="${key}">${value?html}</span></a>
				</span>
			</div>
		</div>
	</#if>
</#macro>

<#macro image contact>
	<#if contact.containsImage1()>
		<div class="group">
			<div class="key co_4">
				<span class="key">
					&nbsp;
				</span>
			</div>
			<div class="co_12">
				<span class="value">
					<img src="${request.scheme!"http"}://${request.serverName}${utils.getImageURL(publication, contact)}" alt="" />
				</span>
			</div>
		</div>
	</#if>
</#macro>

<#macro imageMicroformatted contact>
	<#if contact.containsImage1()>
		<div class="group">
			<div class="key co_4">
				<span class="key">
					&nbsp;
				</span>
			</div>
			<div class="co_12">
				<span class="value">
					<img class="ox_image" src="${request.scheme!"http"}://${request.serverName}${utils.getImageURL(publication, contact)}"  alt="" />
				</span>
			</div>
		</div>
	</#if>
</#macro>




<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="http://www.open-xchange.com/fileadmin/pub_sub/_data/css/pubsub.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://www.open-xchange.com/fileadmin/pub_sub/_data/jss/jquery.js"></script>
    <script type="text/javascript" src="http://www.open-xchange.com/fileadmin/pub_sub/_data/jss/base.js"></script>
    <title>
      Social OX - Sharing Documents and Contacts 
    </title>
  </head>
  <body>
    <div id="layout" class="hasJs">
      <div id="head_area">
        <div id="bill_board">
        </div>
      </div>
      <div id="content_area" >
        <div class="info_section">
          <h2 class="header_visual">
        		Social OX - Sharing Documents and Contacts
        	</h2>
        	<div class="group spacer">
          	<p>
              Is sharing contacts and documents with your business partners and your social network a useful feature for you? Then you should definitely check out Open-Xchange's innovative social features and learn how to benefit from them.
            </p>
            <p>            
              Create your own test account here: <a href="http://ox.io" target="_blank">http://ox.io</a>. You are convinced? Sign up <a href="http://www.open-xchange.com/en/buy/partner" target="_blank">here</a>
            </p>
            <p>
            	This entry was published with Open-Xchange's <a target="_blank" href="http://oxpedia.org/wiki/index.php?title=SocialOX">Social OX Feature</a> extending your reach!
            </p>  
					</div>
        </div>
        <div class="left_section co_5 same_h">
        	<h2 class="header_visual">
        		Table of Contens
        	</h2>
          <ul id="nav" class="navigation_vertical">
            <#list contacts as contact>
              <li>
                <a href="#contact_${contacts?seq_index_of(contact)}" class="user">
                  <@display_link_value contact=contact />
                </a>
              </li>
            </#list>
          </ul>
        </div>
        <div class="right_section co_11 flex_childs same_h" id="infostore">
          <h2 class="header_visual">
        		Contacts
        	</h2>
        	<#list contacts as contact>
            <div class="ox_contact group_visual" id="contact_${contacts?seq_index_of(contact)}">
              <div class="a_contact">
                <@imageMicroformatted contact=contact />
                <@render_name contact=contact />
                <@render key="ox_company" title="Company" value=contact.company!"" /> 
                <@render key="ox_mail" title="Mail" value=contact.email1!"" /> 
                <@render key="ox_profession" title="Profession" value=contact.profession!"" /> 
                <@render key="ox_department" title="Department" value=contact.department!"" /> 
                <@render key="ox_position" title="Position" value=contact.position!"" /> 
                <@render key="ox_employeeType" title="Employee type" value=contact.employeeType!"" /> 
                <@render key="ox_url" title="Url" value=contact.uRL!"" /> 
                <@render key="ox_note" title="Note" value=contact.note!"" /> 
              </div>
            </div>
            <a href="#layout" class="back_to_top"></a>
          </#list>
        </div>
      </div>
      <div id="footerArea" class="disclaimer_section">
        <h2 class="header_visual">
        		Disclaimer
        	</h2>
        <div class="group spacer">
          ${privacy}
        </div>
      </div>
    </div>
  </body>
</html>