<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
  <style type="text/css">

    .content {
      white-space: normal;
      color: black;
      font-family: OpenSans, Arial, Helvetica, sans-serif;
      font-size: 12pt;
      cursor: default;
    }

    .person {
      color: #00A0CD;
    }

    .link {
      cursor: pointer;
      text-decoration: underline;
      color: #00A0CD;
      font-weight: bold;
      margin: 0 0 0 1em;
    }

    .message {
      max-width: 550px;
      margin: 0 0 2em 1em;
      -webkit-user-select: text;
      -moz-user-select: text;
      user-select: text;
      cursor: text;
    }

    .message-intro {
      color: #888;
      margin-bottom: 0.5em;
    }

    .credential-container {
      margin: 2em 0 0 0;
    }

    .credentials {
      margin: 0.5em 0 0 0;
      border: 0;
    }

    .credentials td {
      padding-left: 1em;
    }

    .unpw {
     -webkit-user-select: text;
     -moz-user-select: text;
     user-select: text;
     cursor: text;
     font-weight: bold;
    }

  </style>
</head>
<body>
  <div class="content">
   <#if message?has_content>
    <div class="message-intro">
      ${message_intro?html}:
    </div>
    <div class="message">
      ${message?html}
    </div>
   </#if>

   <div>
     <a href="${link}"><span class="link">${link_intro?html}</span></a>
   </div>
   
   <#if recipient_type == "anonymous">
     <#if password?has_content>
       <div class="credential-container">
         ${credentials_intro?html}:
         <table class="credentials">
           <tr>
             <td>${password_field?html}:</td>
             <td><span class="unpw">${password?html}</td>
           </tr>
         </table>
       </div>
     </#if>
   <#elseif recipient_type == "guest">
     <#if password?has_content>
       <div class="credential-container">
         ${credentials_intro?html}:
         <table class="credentials">
           <tr>
             <td>${username_field?html}:</td>
             <td><span class="unpw">${username?html}</td>
           </tr>
           <tr>
             <td>${password_field?html}:</td>
             <td><span class="unpw">${password?html}</td>
           </tr>
         </table>
      </div>
     <#else>
       <div class="credential-container">
         <p>${credentials_intro?html}</p>
         <p><a href="${reset_pw_link}"><span class="link">${reset_pw_link_intro?html}</span></a></p>
       </div>
     </#if>
   </#if>
  </div>
</body>
</html>