<#if message?has_content>
${message_intro}:

${message}
</#if>

${link_intro}:
${link}
<#if recipient_type == "anonymous">
  <#if password?has_content>
${credentials_intro}:
${password_field}: ${password}
  </#if>
<#elseif recipient_type == "guest">
  <#if password?has_content>
${credentials_intro}:
${username_field}: ${username}
${password_field}: ${password}
  <#else>
${credentials_intro}

${reset_pw_link_intro}: ${reset_pw_link}
  </#if>
</#if>