<Products>
	<Product>
		<Name>${PRODUCT_NAME}</Name> 
		<Version>6.18.18</Version>
		<UpgradeCode>{7951C72C-CFD9-487F-B810-BB1A787F0538}</UpgradeCode>
		<ReleaseDate>15.03.2013</ReleaseDate>
		<URL>${OXUPDATER.url()}</URL>
		<MD5>${OXUPDATER.md5()}</MD5>
		<InfoUrl></InfoUrl>
		<Icon>${ICON}</Icon>
		<InstallParams></InstallParams> 
		<Importance>200</Importance> 
	</Product>

	${ITERATOR.iterate()}
</Products>