	<Product>
		<Name>${PRODUCT_NAME}</Name> 
		<Version>1.0.1</Version>
		<UpgradeCode>{7951882C-CFD9-487F-B888-BB1A78880538}</UpgradeCode>		
		<ReleaseDate>15.03.2013</ReleaseDate>
		<URL>${FILETOOL.url()}</URL>
		<MD5>${FILETOOL.md5()}</MD5>
		<MSIURL>${FILETOOL.msiurl()}</MSIURL>
		<MSIMD5>${FILETOOL.msimd5()}</MSIMD5>
		<Icon>${ICON}</Icon>
		<InstallParams>OX_SERVERURL=${OX_SERVERURL} OX_USERNAME=${OX_USERNAME} OX_SERVERURLINFOSTORE=${OX_SERVERURLINFOSTORE} OX_USERNAMEINFOSTORE=${OX_USERNAMEINFOSTORE}</InstallParams> 
		<Importance>200</Importance>
	</Product>