	<Product>
		<Name>${PRODUCT_NAME}</Name> 
		<Version>7.0.63</Version>
		<Requirement Root="HKLM" Key="Software\Microsoft\Office\14.0\Outlook" ValueName="Bitness" Compare="ValueNotEqualTo" Value="x64" />
		<UpgradeCode>{38de77fa-5954-4855-afc1-094c9f0c317c}</UpgradeCode>
		<MD5>${FILETOOL.md5()}</MD5>
		<ReleaseDate>15.03.2013</ReleaseDate>
		<URL>${FILETOOL.url()}</URL>
		<MSIURL>${FILETOOL.msiUrl()}</MSIURL>
		<MSIMD5>${FILETOOL.msiMd5()}</MSIMD5>
		<InfoUrl></InfoUrl>
		<Icon>${ICON}</Icon>
		<InstallParams>OX_CREATEPROFILE=1 OX_PROFILENAME="Oxtender 2" ${OX_SERVERURL} ${OX_USERNAME} OX_OVERWRITEPROFILE=0 OX_DEFAULTPROFILE=1 OX_SUPPORTPAGEENABLED=0 OX_SUPPORTEMAIL=""</InstallParams> 
		<Importance>200</Importance>
		<ServerRequiredVersion>${SERVER_REQUIRED_VERSION}</ServerRequiredVersion>
	</Product>
	<Product>
		<Name>${PRODUCT_NAME}</Name> 
		<Version>7.0.63</Version>
		<Requirement Root="HKLM" Key="Software\Microsoft\Office\14.0\Outlook" ValueName="Bitness" Compare="ValueEqualTo" Value="x64" />
		<UpgradeCode>{38de77fa-5954-4855-afc1-094c9f0c317c}</UpgradeCode>
		<MD5>${FILETOOL.md5x64()}</MD5>
		<ReleaseDate>15.03.2013</ReleaseDate>
		<URL>${FILETOOL.urlx64()}</URL>
		<MSIURL>${FILETOOL.msiUrlx64()}</MSIURL>
		<MSIMD5>${FILETOOL.msiMd5x64()}</MSIMD5>
		<InfoUrl></InfoUrl>
		<Icon>${ICON}</Icon>
		<InstallParams>OX_CREATEPROFILE=1 OX_PROFILENAME="Oxtender 2" ${OX_SERVERURL} ${OX_USERNAME} OX_OVERWRITEPROFILE=0 OX_DEFAULTPROFILE=1 OX_SUPPORTPAGEENABLED=0 OX_SUPPORTEMAIL=""</InstallParams> 
		<Importance>200</Importance>
		<ServerRequiredVersion>${SERVER_REQUIRED_VERSION}</ServerRequiredVersion>
	</Product>