	<Product>
		<Name>OXtender for Microsoft Outlook</Name> 
		<Version>6.18.4</Version>
		<UpgradeCode>{3BBB2D56-0B19-4C83-9266-307F49DF9DD6}</UpgradeCode>
		<MD5>${FILETOOL.md5("OXtender_for_Microsoft_Outlook.msi")}</MD5>
		<ReleaseDate>25.08.2010</ReleaseDate>
		<URL>${FILETOOL.url("OXtender_for_Microsoft_Outlook.msi")}</URL>
		<InfoUrl></InfoUrl>
		<Icon></Icon>
		<InstallParams>OXCREATEIMAPACCOUNT="true" OXPROFILENAME="OXtender" ${OXURL} ${OXACCOUNTNAME} ${OXDISPLAYNAME} ${OXEMAILADDRESS} ${OXIMAPPORT} ${OXIMAPSERVER} ${OXIMAPSSL} ${OXIMAPUSERNAME} ${OXSERVERTIMEOUT} ${OXSMTPAUTH} ${OXSMTPAUTHMETHOD} ${OXSMTPPORT} ${OXSMTPSERVER} ${OXSMTPSSL}</InstallParams> 
		<Importance>200</Importance> 
	</Product>