    <Product>
        <Name>Open-Xchange Microsoft Outlook Uploader</Name>
        <Version>2.6.0</Version>
        <UpgradeCode>{3EF60B86-0902-4811-AF65-E9702065876A}</UpgradeCode>
        <ReleaseDate>13.12.2013</ReleaseDate>
        <URL>${FILETOOL.url()}</URL>
        <MD5>${FILETOOL.md5()}</MD5>
        <MSIURL>${FILETOOL.url()}</MSIURL>
        <MSIMD5>${FILETOOL.md5()}</MSIMD5>
        <Icon>${ICON}</Icon>
        <InstallParams></InstallParams> 
        <InfoUrl/>
        <Importance>200</Importance>
    </Product>
    <Product>
        <Name>Open-Xchange Microsoft Outlook Uploader</Name>
        <Version>2.6.0</Version>
        <UpgradeCode>{3EF60B86-0902-4811-AF65-E9702065876A}</UpgradeCode>
        <ReleaseDate>13.12.2013</ReleaseDate>
        <URL>${FILETOOL.urlx64()}</URL>
        <MD5>${FILETOOL.md5x64()}</MD5>
        <MSIURL>${FILETOOL.urlx64()}</MSIURL>
        <MSIMD5>${FILETOOL.md5x64()}</MSIMD5>
        <Icon>${ICON}</Icon>
        <InstallParams></InstallParams> 
        <InfoUrl/>
        <Importance>200</Importance>
    </Product>