BEGIN
	requires: calendarUtil
END
<html>
	<head>
	</head>
	<body>
		<h1>${data.title}</h1>
		<script>
			var data = ${JSON.serialize(data)};
			var session = "${session}";
		</script>
	</body>
</html>