Source: open-xchange-meta-centos
Section: web
Priority: optional
Maintainer: Carsten Hoeger <choeger@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.8.4
Homepage: http://www.open-xchange.com

Package: open-xchange-meta-centos
Architecture: all
Depends: ${misc:Depends}
Description: Meta package for CentOS5

