<Products>
	<Product>
		<Name></Name> 
		<Version></Version>
		<UpgradeCode></UpgradeCode>
		<MD5></MD5>
		<ReleaseDate></ReleaseDate>
		<URL></URL>
		<InfoUrl></InfoUrl>
		<Icon></Icon>
		<InstallParams>OXCREATEIMAPACCOUNT="true" OXPROFILENAME="OXtender" ${OXURL} ${OXACCOUNTNAME} ${OXDISPLAYNAME} ${OXEMAILADDRESS} ${OXIMAPPORT} ${OXIMAPSERVER} ${OXIMAPSSL} ${OXIMAPUSERNAME} ${OXSERVERTIMEOUT} ${OXSMTPAUTH} ${OXSMTPAUTHMETHOD} ${OXSMTPPORT} ${OXSMTPSERVER} ${OXSMTPSSL}</InstallParams> 
		<Importance></Importance> 
	</Product>
</Products>