<Products>
	<Product>
		<Name></Name> 
		<Version></version>
		<UpgradeCode></UpgradeCode>
		<MD5></MD5>
		<ReleaseDate></ReleaseDate>
		<url></url>
		<InfoUrl></InfoUrl>
		<Icon></Icon>
		<InstallParams>${OXCreateIMAPAccount} ${OXAccountname} ${OXDisplayname} ${OXEmailAddress} ${OXIMAPPort} ${OXIMAPServer} ${OXIMAPSSL} ${OXIMAPUsername} ${OXProfilename} ${OXServerTimeout} ${OXSMTPAuth} ${OXSMTPAuthMethod} ${OXSMTPPort} ${OXSMTPServer} ${OXSMTPSSL}</InstallParams> 
		<Importance></Importance> 
	</Product>
</Products>