Source: open-xchange-xerces-sun
Section: web
Priority: optional
Maintainer: Marcus Klein <marcus.klein@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.7.0), ant-optional (>= 1.7.0), java7-jdk | java7-sdk, open-xchange-osgi (>= @OXVERSION@)
Standards-Version: 3.8.4
Homepage: http://www.open-xchange.com

Package: open-xchange-xerces-sun
Architecture: all
Depends: ${misc:Depends}, open-xchange-osgi (>= @OXVERSION@)
Conflicts: open-xchange-xerces-ibm
Provides: open-xchange-xerces
Description: Xerces Compat for Sun Java
