Source: open-xchange-server
Section: unknown
Priority: optional
Maintainer: choeger <choeger@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk, open-xchange-common (>= @OXVERSION@), open-xchange-configread (>= @OXVERSION@), open-xchange-global (>= @OXVERSION@), open-xchange-conversion (>=@OXVERSION@), open-xchange-monitoring (>= @OXVERSION@), open-xchange-cache (>= @OXVERSION@), open-xchange-xml (>= @OXVERSION@), open-xchange-dataretention (>= @OXVERSION@), open-xchange-timer (>= @OXVERSION@)
Standards-Version: 3.6.1

Package: open-xchange-server
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-common (>= @OXVERSION@), j2re1.5|sun-java5-jre, open-xchange-configread (>= @OXVERSION@), open-xchange-global (>= @OXVERSION@), open-xchange-conversion (>= @OXVERSION@), open-xchange-monitoring (>= @OXVERSION@), open-xchange-management (>= @OXVERSION@), open-xchange-cache (>= @OXVERSION@), open-xchange-xml (>= @OXVERSION@), open-xchange-dataretention (>= @OXVERSION@), open-xchange-timer (>= @OXVERSION@)
Suggests: mysql-server-5.0 (>= 5.0.24)
Conflicts: open-xchange-libs
Replaces: open-xchange-libs
Description: The Open-Xchange Server Bundle

Package: open-xchange
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-server, adduser
Suggests: open-xchange-authentication, open-xchange-cache, open-xchange-charset, open-xchange-configjump, open-xchange-configread, open-xchange-control, open-xchange-global, open-xchange-conversion-engine, open-xchange-conversion-servlet, open-xchange-contactcollector, open-xchange-i18n, open-xchange-mailstore, open-xchange-jcharset, open-xchange-management, open-xchange-monitoring, open-xchange-push-udp, open-xchange-sessiond, open-xchange-smtp, open-xchange-spamhandler, open-xchange-spellcheck, open-xchange-settings-extensions
Description: Open-Xchange server scripts and configuration
Provides: open-xchange-config
Conflicts: open-xchange-config-hosting, open-xchange-config-standard
Replaces: open-xchange-config-hosting, open-xchange-config-standard
