*.class
bin
bin/
open-xchange-config/development/tmp
open-xchange-config/development/adminTmp
open-xchange-config/development/commonTmp
com.openexchange.axis2/conf/axis2.properties
com.openexchange.axis2/lib/*.jar
com.openexchange.axis2/tmp/*
open-xchange-config/development/Open-Xchange Configuration Generator.launch
open-xchange-config/development/Open-Xchange Server (Development).launch
com.openexchange.common/jars
build/build
com.openexchange.global/jars
com.openexchange.config.cascade/jars
com.openexchange.configread/jars
com.openexchange.management/jars
com.openexchange.threadpool/jars
com.openexchange.caching/jars
com.openexchange.tx/jars
com.openexchange.xml/jars
com.openexchange.sql/jars
com.openexchange.conversion/jars
com.openexchange.crypto/jars
com.openexchange.dataretention/jars
com.openexchange.datatypes.genericonf/jars
com.openexchange.file.storage.composition/jars
com.openexchange.file.storage/jars
com.openexchange.html/jars
com.openexchange.proxy/jars
com.openexchange.monitoring/jars
com.openexchange.messaging/jars
com.openexchange.publish/jars
com.openexchange.push/jars
com.openexchange.secret/jars
com.openexchange.server/jars
com.openexchange.server/build
org.apache.tika/jars
com.openexchange.calendar/jars
com.openexchange.preview/jars
com.openexchange.ajp/jars
com.openexchange.server/build
