*.swp
*.class
*.pmd
.DS_Store
.lint4jprefs
bin
bin/
.git-rewrite/
openexchange-test/conf/test.properties
openexchange-test/conf/ajax.properties
open-xchange-development/adminTmp
open-xchange-development/commonTmp
open-xchange-development/local
com.openexchange.axis2/conf/axis2.properties
com.openexchange.axis2/lib/*.jar
com.openexchange.axis2/tmp/*
com.openexchange.common/jars
build
build/build
build/tmp
com.openexchange.global/jars
com.openexchange.config.cascade/jars
com.openexchange.configread/jars
com.openexchange.management/jars
com.openexchange.threadpool/jars
com.openexchange.caching/jars
com.openexchange.tx/jars
com.openexchange.xml/jars
com.openexchange.sql/jars
com.openexchange.conversion/jars
com.openexchange.crypto/jars
com.openexchange.dataretention/jars
com.openexchange.datatypes.genericonf/jars
com.openexchange.file.storage.composition/jars
com.openexchange.file.storage/jars
com.openexchange.html/jars
com.openexchange.proxy/jars
com.openexchange.monitoring/jars
com.openexchange.messaging/jars
com.openexchange.publish/jars
com.openexchange.push/jars
com.openexchange.secret/jars
com.openexchange.server/jars
com.openexchange.server/build
com.openexchange.server/tmp
org.apache.tika/jars
com.openexchange.calendar/jars
com.openexchange.preview/jars
com.openexchange.ajp/jars
com.openexchange.server/build
com.openexchange.server/build/META-INF/**/*
com.openexchange.server/build/META-INF/*
com.openexchange.mdns/jars
**/CVS/
com.openexchange.datatypes.genericonf.storage/jars
com.openexchange.frontend.uwa.json/jars
com.openexchange.frontend.uwa/jars
com.openexchange.halo.appointments/jars
com.openexchange.halo/jars
com.openexchange.modules.json/jars
com.openexchange.modules.model/jars
com.openexchange.modules.storage/jars
com.openexchange.oauth.linkedin/jars
com.openexchange.oauth.linkedin.json/jars
com.openexchange.oauth.linkedin.json/build
com.openexchange.oauth/jars
com.openexchange.secret.recovery/jars
com.openexchange.sessiond/jars
com.openexchange.sessiond/tmp
com.openexchange.textxtraction/jars
com.openexchange.carddav/jars
com.openexchange.config.cascade.user/jars
com.openexchange.contactcollector/jars
com.openexchange.conversion.servlet/jars
com.openexchange.favfolder/jars
com.openexchange.folder.json/jars
com.openexchange.importexport/jars
com.openexchange.mail.autoconfig/jars
com.openexchange.messaging.generic/jars
com.openexchange.messaging.json/jars
com.openexchange.recaptcha/jars
com.openexchange.scripting.rhino/jars
com.openexchange.spellcheck/jars
com.openexchange.sso/jars
com.openexchange.subscribe.linkedin/jars
com.openexchange.subscribe/jars
com.openexchange.webdav.acl/jars
com.openexchange.webdav.directory/jars
com.openexchange.authorization.standard/jars
com.openexchange.caldav/jars
com.openexchange.charset/jars
com.openexchange.config.cascade.context/jars
com.openexchange.conversion.engine/jars
com.openexchange.document.converter/jars
com.openexchange.file.storage.generic/jars
com.openexchange.file.storage.json/jars
com.openexchange.http.deferrer/jars
com.openexchange.i18n/jars
com.openexchange.i18n/tmp
com.openexchange.messaging.facebook/jars
com.openexchange.messaging.twitter/jars
com.openexchange.oauth.facebook/jars
com.openexchange.oauth.msn/jars
com.openexchange.oauth.twitter/jars
com.openexchange.oauth.yahoo/jars
com.openexchange.pop3/jars
com.openexchange.publish.basic/jars
com.openexchange.publish.json/jars
com.openexchange.publish.microformats/jars
com.openexchange.push.udp/jars
com.openexchange.service.messaging/jars
com.openexchange.spellcheck.servlet/jars
com.openexchange.subscribe.crawler/jars
com.openexchange.subscribe.crawler/tmp
com.openexchange.subscribe.json/jars
com.openexchange.subscribe.microformats/jars
com.openexchange.subscribe.msn/jars
com.openexchange.templating.json/jars
openexchange-test/conf/test.properties
com.openexchange.templating/jars
com.openexchange.templating/tmp
com.openexchange.twitter/jars
com.openexchange.url.mail.attachment/jars
com.openexchange.user.json/jars
com.openexchange.xerces.sun/jars
com.openexchange.subscribe.yahoo/jars
com.openexchange.authentication.database/jars
com.openexchange.contacts.json/jars
com.openexchange.control/jars
com.openexchange.data.conversion.ical.ical4j/jars
com.openexchange.file.storage.config/jars
com.openexchange.file.storage.infostore/jars
com.openexchange.groupware.settings.extensions/jars
com.openexchange.imap/jars
com.openexchange.mail.filter/jars
com.openexchange.messaging.rss/jars
com.openexchange.resource.servlet/jars
com.openexchange.secret.recovery.json/jars
com.openexchange.secret.recovery.mail/jars
com.openexchange.unifiedinbox/jars
net.freeutils.jcharset/jars
com.openexchange.group.management/jars
com.openexchange.proxy.servlet/jars
com.openexchange.scripting.rhino.apiBridge/jars
com.openexchange.calendar.printing/jars
com.openexchange.groupware.dataRetrieval.attachments/jars
com.openexchange.groupware.dataRetrieval.mail/jars
com.openexchange.groupware.dataRetrieval/jars
com.openexchange.halo.linkedin/jars
com.openexchange.mail.autoconfig.json/jars
com.openexchange.oauth.json/jars
com.openexchange.publish.online.infostore/jars
com.openexchange.security/jars
com.openexchange.smtp/jars
com.openexchange.subscribe.facebook/jars
com.openexchange.halo.json/build
com.openexchange.halo.json/jars
com.openexchange.rdiff/build
com.openexchange.rdiff/jars
com.openexchange.chat/jars
com.openexchange.chat.db/jars
com.openexchange.chat.json/jars
com.openexchange.preview.thirdwing/jars
oxscripts/tmp
com.openexchange.index/build
/com.openexchange.admin.reseller/build
openexchange-test/conf/test.properties
com.openexchange.authentication.ldap/jars
com.openexchange.calendar.json/jars
com.openexchange.documentation.json/jars
com.openexchange.documentation/jars
com.openexchange.group.json.manage/jars
com.openexchange.resource.json.manage/jars
com.openexchange.logging/jars
com.openexchange.management.impl/jars
com.openexchange.osgi/jars
com.openexchange.tasks.json/jars
org.apache.commons.logging.log4j/jars
org.apache.log4j.configuration/jars
com.openexchange.admin.plugin.hosting/jars
com.openexchange.admin.plugin.hosting/tmp
com.openexchange.admin/jars
com.openexchange.admin/tmp
com.openexchange.halo.mail/jars
com.openexchange.langdetect/jars
com.openexchange.mail.smal/jars
com.openexchange.index/jars
com.openexchange.oauth.linked.json/build
com.openexchange.index.solr/build
com.openexchange.index.solr/jars
com.openexchange.authentication.imap/jars
com.openexchange.contact.storage.rdb/jars
com.openexchange.groupware.tools/jars
com.openexchange.authentication.ucs/jars/
com.openexchange.blackwhitelist/jars/
com.openexchange.control/tmp/
com.openexchange.indexedSearch.json/jars/
com.openexchange.jcharset/jars/
com.openexchange.jslob.json/jars/
com.openexchange.jslob/jars/
com.openexchange.logging.tracking/jars/
com.openexchange.mail.smal.impl/jars/
com.openexchange.messaging.sms/jars/
com.openexchange.mq/jars/
com.openexchange.oauth.provider/jars/
com.openexchange.rmi/jars/
com.openexchange.service.indexing.impl/jars/
com.openexchange.service.indexing/jars/
com.openexchange.servlet.easylogin/
com.openexchange.sleepycat/jars/
com.openexchange.solr/jars/
com.openexchange.spamhandler.default/jars/
com.openexchange.spamhandler.spamassassin/jars/
com.openexchange.spamsettings.generic/jars/
com.openexchange.xerces.ibm/jars/
com.openexchange.xmpp/jars/
openexchange-test/local
openexchange-test/local/test.properties
com.openexchange.loxandra.hector/build
com.openexchange.nosql.cassandra/build
/com.openexchange.eav.storage.cassandra
com.openexchange.file.storage/doc
http-api/build
http-api/codegen/*/clients
