*.class
bin
bin/
open-xchange-config/development/tmp
open-xchange-config/development/adminTmp
open-xchange-config/development/commonTmp
commitall-and-push.sh
commitall.sh
push-only.sh
com.openexchange.axis2/conf/axis2.properties
com.openexchange.axis2/lib/*.jar
com.openexchange.axis2/tmp/*
open-xchange-config/development/Open-Xchange Configuration Generator.launch
open-xchange-config/development/Open-Xchange Server (Development).launch
com.openexchange.common/jars
build/build
global/jars
com.openexchange.config.cascade/jars
config/jars
management/jars
com.openexchange.threadpool/jars
cache/jars
com.openexchange.tx/jars
