<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <#assign day = days[0]>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
/* reset
---------------------------------------------------*/
*                                                 { text-decoration:none; font-size: 1em; outline: none; padding: 0; margin: 0; }
html                                              { color: black; line-height: 1; font-family: arial, sans-serif; font-size: 125%; }
body                                              { font-size: 50%; background-color: transparent; }
textarea                                          { font: inherit; }

a,
img,
a img                                             { border-width: 0; }

th,
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6                                                { font-weight: normal; }

th,
td                                                { text-align: left; }

ul,
ol                                                { list-style: none; }
font,
basefont                                          { color: inherit; font: inherit; font-size: 100%; }
img                                               { border: none; margin: 0; }
ol                                                { list-style-type: decimal; }

tr,
th,
td                                                { width: auto; height: auto; background-color: transparent; vertical-align: inherit; border: none; }
nobr                                              { white-space: normal; }

strong,
th,
thead td,
h1,
h2,
h3,
h4,
h5,
h6,
dt                                                { font-weight: bold; }

/* typography
---------------------------------------------------*/
body                                              { font-family: arial, sans-serif; }
*                                                 { line-height: 1.4em; }
h1                                                { font-size: 24px; margin: 0 0 .4em 0; line-height: 1em; }
h2                                                { font-size: 22px; margin: 0 0 .5em 0; line-height: 1em; }
h3                                                { font-size: 20px; margin: 0 0 .6em 0; line-height: 1.05em; }
h4                                                { font-size: 18px; margin: 0 0 .7em 0; line-height: 1.2em; }
h5                                                { font-size: 16px; margin: 0 0 .8em 0; line-height: 1.3em; }
h6                                                { font-size: 14px; margin: 0 0 .9em 0 ; line-height: 1.4em; }

p                                                 { font-size: 12px; margin-bottom: 1em; }
a                                                 { font-size: 12px; text-decoration: none; }
b                                                 { font-weight: bold; }
label                                             { font-size: 12px; }
input                                             { font-size: 12px; }
textarea                                          { font-size: 12px; }
legend                                            { font-size: 12px; }

table                                             { font-size: 12px; }
th                                                { font-weight: bold; }

blockquote                                        { font-size: 12px; margin: 1.5em; }

del                                               { font-size: 12px; text-decoration: line-through; }

dfn                                               { font-size: 12px; font-weight: bold; }

address                                           { font-size: 12px; margin-bottom: 1em; }

ul,
ol                                                { font-size: 12px; margin: .5em 0 1em 1.6em; }

li                                                { font-size: 12px; }

li ul,
li ol                                             { margin: 0 0 0 1.6em; }

dl                                                { font-size: 12px; margin:0 0 1em 0; }
dt                                                { font-size: 12px; font-weight: bold; }
dd                                                { font-size: 12px; margin-left:1.5em; }

sub,
sup                                               { font-size: .8em; line-height:0; }

/* tags
--------------------------------------------------------------------------------- */
.small,
small                                             { font-size: 1em; }
.large                                            { font-size: 1.5em; }

/* Name
---------------------------------------------------*/
*                                                 { }
.calendar                                         { border: 0; border-collapse: collapse; width: 100% }

.calendar th                                      { text-align: center }
.calendar td                                      { margin: 0; vertical-align: top; }

.outDate                                          { filter:alpha(opacity=40); opacity: 0.4; background-color: #E0E0EF !important; }

#currentDate                                      { background-color: #C6CCD9 !important; }

.normalDay                                        { background-color: #FBFBD9 !important; }

.weekEndDay                                       { background-color: #F8EFC2 !important; }

ol,
ol ol                                             { list-style-type: none; margin: 0; min-height: 60px; }
ol ol li                                          { margin: 1px 5px; margin-left: 18px; }
ol ol ol li                                       { background: none; padding: 0 }

.appointmentDay,
.appointmentDayStart,
.appointmentDayStartLast,
.appointmentDayEnd,
.appointmentDayStartEnd                           { background: #E0E0EF !important; height: 15px; overflow: hidden; margin: 2px 0; padding: 0 0 2px 5px; border: 1px solid #808080;}

.appointmentDayStartEnd                           { -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 2px }

.appointmentDayStart,
.appointmentDayStartLast                          { -moz-border-radius-topLeft: 5px; -moz-border-radius-bottomLeft: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; border-right: none; margin-left: 2px; margin-right: -1px; }
.appointmentDayEnd                                { -moz-border-radius-topRight: 5px; -moz-border-radius-bottomRight: 5px; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; border-left: none; margin-right: 2px; margin-left: -1px; }
.appointmentDay                                   { margin-right: -1px; border-right: 0; border-left: 0; }

.appointmentDayStartLast                          { margin-right:0; }

/* Name
---------------------------------------------------*/
#calendarDay                                      { border-top: 1px solid black; border-bottom: 1px solid black; width: 100%; }

#calendarDay .wrapper                             { overflow: hidden; }

#calendarDay td                                   { border-right: 1px solid black; }

#calendarDay span                                 { padding: 2px 2px 0 2px; background: #f5f5f5; font-weight: bold; }
#calendarDay li li span                           { padding: 0; background: none; }

#calendarDay li li                                { margin-top: 10px }
#calendarDay ol ol ol                             { margin-left: 60px; }
#calendarDay ol ol ol li                          { margin-top: 1px }

#calendarDay ol span                              { text-align: left; display: block; border-bottom: 1px solid gray }
#calendarDay ol ol span                           { display: inline; border: none; padding-left: 3px }

#calendarDay .time                                { text-align: right; vertical-align: middle; padding-right: 5px; font-weight: bold; }
#calendarDay .appointments                        { width: 50%; border-bottom: 1px solid #999999; height: 60px; background-color: #FBFBD9; }
#calendarDay .appointments span                   { border: 0; background: none; font-weight: normal; }
#calendarDay .appointments li                     { border-left: 5px solid #ffcb71; padding-left: 5px; }
#calendarDay #events                              { width: 50%; }

#calendarDay .appointment                         { border-left: 10px #44a4de solid; overflow: hidden; background-color: #F5F5F5; }

/* Name
---------------------------------------------------*/
#calendarWeek                                     { border-top: 1px solid black; border-bottom: 1px solid black; width: 100%; }

#calendarWeek .appointmentsDay                    { height: 30px; border-bottom: 1px solid gray;  }
#calendarWeek th                                  { height: 30px }
#calendarWeek .wrapper                            { height: 30px; overflow: hidden; }

#calendarWeek td                                  { border-right: 1px solid black; }
#calendarWeek td.last                             { border-right: 1px solid #000000; }

#calendarWeek span                                { padding: 2px 2px 0 2px; background: #f5f5f5; font-weight: bold; }

#calendarWeek ol span                             { text-align: left; display: block; border-bottom: 1px solid gray }
#calendarWeek ol ol span                          { display: inline; border: none; padding-left: 3px }

#calendarWeek .days                               { height: 30px; }
#calendarWeek .day                                { height: 30px; border-bottom: 1px solid #999999; }
#calendarWeek .time                               { text-align: right; vertical-align: middle; font-weight: bold; height: 60px; width: 5%; padding-right: 5px; }
#calendarWeek .appointments                       { border-bottom: 1px solid #999999;}
#calendarWeek .appointments span                  { border: 0; background: none; }

#calendarWeek .appointment                        { border-left: 10px #44a4de solid; width: 110px; overflow: hidden; }
#calendarWeek .appointments_2                     { width: 55px }
#calendarWeek .appointments_3                     { width: 36px }

#calendarWeek .day_1                              { left: 100px }
#calendarWeek .day_2                              { left: 220px }
#calendarWeek .day_3                              { left: 340px }
#calendarWeek .day_4                              { left: 460px }
#calendarWeek .day_5                              { left: 580px }
#calendarWeek .day_6                              { left: 700px }
#calendarWeek .day_7                              { left: 820px }

#calendarWeek .appointment_1                      { margin-left: 0; width: 55px;}
#calendarWeek .appointment_2                      { margin-left: 55px; width: 55px; }

#calendarMonth th                                 { border-bottom: 1px solid #C0C0C0; border-right: 1px solid white; }
#calendarMonth td                                 { width: 14%; border-left: 1px solid #C0C0C0; border-bottom: 1px solid #C0C0C0; }
#calendarMonth td.last                            { border-right: 1px solid #C0C0C0; }

#calendarMonth li span                            { padding: 2px 4px 1px 2px; background: #f5f5f5; font-weight: bold; border-bottom: 1px solid #C0C0C0; display: block; color: black; text-align: right; }
#calendarMonth li .text,
#calendarMonth li .time                           { padding: 0; background: none; border: 0; display: inline; color: black; }

#calendarMonth ol ol li                           { color: #808080; list-style-type: disc }
#calendarMonth li .text                           { font-weight: normal }
    </style>
    <title>${documentTitle} - ${i18n.tr("Calendar")} - ${day.format("EEEE", day.time)}, ${day.format("d. MMMM", day.time)}</title>
  </head>
  <body onload="window.print()">
    <div id="layout" class="flexChilds">
      <div id="headArea">
      </div>
      <div id="contentArea">
        <table border="0" id="calendarDay" class="calendar">
          <tbody>
            <#setting locale="en"/>
            <#setting number_format="0.##">
            <#assign width = 100 / days[0].columns?size>
            <tr>
              <td />	
              <td class="appointments" style="height: auto; ">
                <div class="wrapper">
                  <#list days[0].wholeDayAppointments as appointment>
                  <div class="appointmentDayStartEnd">${appointment.title}</div>
                  </#list>
                </div>
              </td>
              <td id="events" rowspan="25">
                <ol>
                  <#if days[0].wholeDayAppointments?size != 0>
                  <li>
                    <span>${i18n.tr("All-day events")}</span>
                    <ol>
                      <#list days[0].wholeDayAppointments as appointment>
                      <li>
                        <span>${appointment.format("d.M.", appointment.startDate)} ${appointment.title}</span>
                        <ol>
                          <#if appointment.location?has_content>
                          <li>
                            <span>${i18n.tr("Location")}:</span>
                            ${appointment.location}
                          </li>
                          </#if>
                          <li>
                            <span>${i18n.tr("Participants")}:</span>
                            <#list appointment.participants as participant>
                            ${participant}<#if participant_has_next>; </#if>
                            </#list>
                          </li>
                          <#if appointment.description?has_content>
                          <li>
                            <span>${i18n.tr("Comments")}:</span>
                            ${appointment.description}
                          </li>
                          </#if>
                        </ol>
                      </li>
                      </#list>
                    </ol>
                  </li>
                  </#if>
                  <#if days[0].appointments?size != 0>
                  <li>
                    <span>${i18n.tr("Events")}</span>
                    <ol>
                      <#list days[0].appointments as appointment>
                      <li>
                        <span>${appointment.format("HH:mm", appointment.startDate)} - ${appointment.format("HH:mm", appointment.endDate)} ${appointment.title}</span>
                        <ol>
                          <#if appointment.location?has_content>
                          <li>
                            <span>${i18n.tr("Location")}:</span>
                            ${appointment.location}
                          </li>
                          </#if>
                          <li>
                            <span>${i18n.tr("Participants")}:</span>
                            <#list appointment.participants as participant>
                            ${participant}<#if participant_has_next>; </#if>
                            </#list>
                          </li>
                          <#if appointment.description?has_content>
                          <li>
                            <span>${i18n.tr("Comments")}:</span>
                            ${appointment.description}
                          </li>
                          </#if>
                        </ol>
                      </li>
                      </#list>
                    </ol>
                  </li>
                  </#if>
                </ol>
              </td>
            </tr>
            <#list 0..23 as hour>
            <tr>
              <td class="time">
                ${hour}
              </td>
              <td class="appointments">
                <div style="position: relative; ">
                  <#assign appointmentsBetween = days[0].getAppointmentsStartingBetween(hour * 60, (hour + 1) * 60)>
                  <#list appointmentsBetween as appointment>
                  <div style="position: absolute; top: ${appointment.startMinutes - hour * 60}px; margin-left: ${days[0].getColumn(appointment) * width}%; height: ${appointment.durationInMinutes}px; width: ${width}%; ">
                  	<div style="position:absolute; top:0px; bottom: 0px; right:0px; left:0px; border: 1px solid #808080;">
	                  <div class="appointment" style="position:absolute; top:0px; bottom: 0px; right:0px; left:0px;">
	                    <div style="background-color: #EEEEEE; padding: 2px 2px 2px 3px; ">${appointment.format("HH:mm", appointment.startDate)} ${appointment.title}</div>
	                    <#if appointment.location?has_content>
	                    <span>${appointment.location}</span>
	                    </#if>
	                  </div>
	                  </div>
                  </div>
                </#list>
                </div>
              </td>
            </tr>
            </#list>
          </tbody>
        </table>
      </div>
      <div id="footerArea">
      </div>
    </div>
  </body>
</html>
