<#macro timezone a_date>
                  <span class="date timezone">${a_date?string("zzz")}</span>
</#macro>

<#macro date a_date>
                  <span class="date">${a_date?string("dd.MM.yyyy, EEE")}</span>
</#macro>

<#macro datetime a_date>
                  <span class="date time">${a_date?string("dd.MM.yyyy, HH:mm")}</span>
</#macro>

<#macro time a_date>
                  <span class="time">${a_date?string("HH:mm")}</span>
</#macro>

<#macro do_breaks formattinginfo appointment_index> 
   <#list formattinginfo as info>

      <#if info.position == appointment_index && info.type == 0 && info_index != 0>
         </td>
      </#if>
   	  <#if info.position == appointment_index && info.type == 1 && info_index != 0>
   	  </tr>
   	  </#if>
      <#if info.position == appointment_index && info.type == 11 && info.additionalInformation == 1>
        <td class="filler" />
      </#if>
      <#if info.position == appointment_index && info.type == 1>
      <tr>
         <td colspan="5">
            <h2 class="weekNumber">
               Calendar week ${info.additionalInformation}
            </h2>
         </td>
      </tr>
      <tr>
      </#if>
      <#if info.position == appointment_index && info.type == 0>
         <td class="day">
            <h3 class="dayDate">
               <@date info.additionalInformation />
            </h3>
      </#if>
   </#list>
</#macro>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
<head>
   <title>${documentTitle} - Calendar PrintView</title>
   <style type="text/css">
      table, tr {
         width: 100%;
      }
      th {
         width:20%;
      }
      .duration {
         font-size: 80%;
         width: 25%;
      }
      .title {
         width: 65%;
      }
      .appointment {
      }
      td h2, td h3 {
         text-align: centered;
      }
      td.day {
         vertical-align: top;
      }
      h1,h2,h3,h4 {
      	font-size: 1.1em;
      	text-align: center;
      }
   </style>
</head>

<body onload="window.print()">
   <h1>
      Workweek: 
      <@date start />
      - 
      <@date end />
      <@timezone start />
   </h1>
   
   <table border="1">
      <#list appointments as appointment>
         <@do_breaks formattinginfo appointment_index />
            <table class="appointment">
               <tr>
                  <td class="duration">
                     <@time appointment.startDate />
                     -<br />
                     <@time appointment.endDate />
                  </td>
                  <td class="info">
                     ${appointment.title}
                  </td>
               </tr>
            </table>
      </#list>
      </tr>
   </table>
</body>
</html>