<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="OX Platform" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.orbit.build.feature.set1.feature.group" version="1.0.0.v20100831-0720-DaFCAFBwISlNOCPBAtLG1Qe0Pj7F"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20100831105311/updateSite"/>
</location>
<location path="${eclipse_home}" type="Directory"/>
</locations>
<includeBundles>
<plugin id="org.apache.commons.cli"/>
<plugin id="org.eclipse.equinox.event"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="javax.servlet" version="2.5.0.v201103041518"/>
<plugin id="javax.transaction"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.apache.log4j"/>
<plugin id="org.apache.commons.lang.source"/>
<plugin id="org.apache.commons.logging.source" version="1.0.4.v201101211617"/>
<plugin id="org.eclipse.equinox.ds.source"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="javax.servlet" version="2.4.0.v200806031604"/>
<plugin id="javax.transaction.source"/>
<plugin id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<plugin id="org.apache.commons.cli.source"/>
<plugin id="org.apache.log4j.source"/>
<plugin id="org.apache.commons.logging" version="1.0.4.v201101211617"/>
<plugin id="org.eclipse.equinox.event.source"/>
<plugin id="javax.servlet.source" version="2.5.0.v201103041518"/>
<plugin id="org.apache.commons.logging" version="1.1.1.v201005080502"/>
<plugin id="org.apache.commons.logging.source" version="1.1.1.v201101211721"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.equinox.util.source"/>
<plugin id="org.apache.commons.lang"/>
<plugin id="javax.servlet.source" version="3.0.0.v201103241727"/>
<plugin id="javax.servlet" version="3.0.0.v201103241727"/>
</includeBundles>
<environment>
<os>linux</os>
</environment>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/J2SE-1.5"/>
</target>
