<div class="section_left">
	<b style="font-size: 14px">Make your team successful and cooperate with each other <br>on tasks, shared files and your team-calendar!</b><br>
	<ul>
	  <li>
		  Team-Calendar
		</li>
		<li>
		  Tasks Delegation
		</li>
		<li class="detail">
		  Share Folders
		</li>
		<li class="detail">
		  Share Calendars
		</li>
  </ul>
  <a style="display: block" href="#" class="detail_show">[more]</a>
  <b style="font-size: 14px; display: block; padding-top: 20px">Sign up for a 90 Day free trial; now!</b>
</div>
<div class="section_right">
  <a href="plugins/com.openexchange.upsell.multiple.gui/templates/_calendar/img/calendar_big.png" class="light_box image" >
    <img src="img/calendar_small.png" />
  </a>
  <a href="plugins/com.openexchange.upsell.multiple.gui/templates/_global/flash/90_sec/OX_film_EN_640.swf" class="light_box swf">
    <img src="img/90_sec_small.png" />
  </a>
</div>