<#include "notify.common.button.tmpl">

<p>
  ${intro}
  <#-- unstyled unordered list using flexbox -->
  <ul class="list-style:none; padding:0; margin:0; display:flex; padding-top: 16px">
    <#list previews?keys as key>
      <li style="padding: 0 16px 16px 0">
        ${previews[key]}<br/>
        ${filenames[key]}
      </li>
    </#list>
  </ul>
  <#if more?has_content><br/ >${more}</#if>
</p>

<p>
  <@styledButton link=link>${link_text}</@styledButton>
</p>
<#if expiration?has_content || password?has_content>
  <p>
    <#if expiration?has_content>${expiration}</#if>
    <#if password?has_content>${password}</#if>
  </p>
</#if>
<hr>