Source: open-xchange-oauth-provider
Section: web
Priority: optional
Maintainer: Steffen Templin <steffen.templin@open-xchange.com>
Build-Depends: cdbs (>= 0.4.53), debhelper (>= 7.0.1), ant-optional (>= 1.7.0), java7-jdk | java7-sdk, open-xchange-core (>= @OXVERSION@), open-xchange-client-onboarding (>= @OXVERSION@)
Standards-Version: 3.8.4
Homepage: http://www.open-xchange.com

Package: open-xchange-oauth-provider
Architecture: all
Pre-Depends: open-xchange-core (>= @OXVERSION@), open-xchange-client-onboarding (>= @OXVERSION@)
Depends: ${misc:Depends}
Description: The OAuth provider feature
 OX App Suite is able to act as an OAuth 2.0 provider. Registered client
 applications can access certain HTTP API calls in the name of users who
 granted them access accordingly. This package adds the necessary core
 functionality to serve those API calls.