Source: open-xchange-admin-soap
Section: net
Priority: optional
Maintainer: choeger <choeger@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk, open-xchange-admin-plugin-hosting-client (>= @OXVERSION@), perl
Standards-Version: 3.6.1

Package: open-xchange-admin-soap
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-admin-plugin-hosting-client (>= @OXVERSION@), open-xchange-axis2 (>= @OXVERSION@)
Description: Open Xchange Admin SOAP API
