Source: open-xchange-admin-soap
Section: net
Priority: optional
Maintainer: choeger <choeger@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk, open-xchange-admin-client (>= 6.9.0.0-0), open-xchange-admin-plugin-hosting (>= 6.8.1-0), perl
Standards-Version: 3.6.1

Package: open-xchange-admin-soap
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, j2re1.5|sun-java5-jre, open-xchange-admin-client (>= 6.9.0.0-0), open-xchange-admin-plugin-hosting (>= 6.8.1-0), open-xchange-axis2
Description: Open Xchange Admin SOAP API
