Source: open-xchange-report-client
Section: web
Priority: optional
Maintainer: Marcus Klein <marcus.klein@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.7.0), ant-optional (>= 1.7.0), java7-jdk | java7-sdk, open-xchange-core (>= @OXVERSION@), open-xchange-admin (>= @OXVERSION@)
Standards-Version: 3.8.4
Homepage: http://www.open-xchange.com

Package: open-xchange-report-client
Architecture: all
Depends: ${misc:Depends}, open-xchange-admin (>= @OXVERSION@)
Description: Open-Xchange reporting client
