Source: open-xchange-admin-plugin-hosting
Section: net
Priority: optional
Maintainer: choeger <choeger@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk, open-xchange-admin (>= @OXVERSION@)
Standards-Version: 3.6.1

Package: open-xchange-admin-plugin-hosting
Architecture: all
Conflicts: open-xchange-admin-plugin-context-light
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-admin (>= @OXVERSION@), open-xchange-admin-hosting-client (>= @OXVERSION@), open-xchange-admin-plugin-hosting-lib (>=@OXVERSION@)
Description: Open Xchange Admin Hosting Plugin

Package: open-xchange-admin-plugin-hosting-client
Architecture: all
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-admin-client (>= @OXVERSION@)
Description: The Open Xchange Admin Hosting RMI client library

Package: open-xchange-admin-plugin-hosting-lib
Conflicts: open-xchange-admin-plugin-hosting (<<@OXVERSION@)
Architecture: all
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-admin-lib (>= @OXVERSION@)
Description: The Open Xchange Admin Hosting Bundle client library

Package: open-xchange-admin-plugin-hosting-doc
Architecture: all
Section: doc
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-admin-doc (>= @OXVERSION@)
Description: Documentation for the Open Xchange RMI client library.
