<!DOCTYPE html>
<html lang="${lang}">
  <head>
    <meta charset="utf-8">
    <title>${title?html}</title>
  </head>
  <body>
    <div id="main">
      <div id="header">
        <h1>${headline?html}</h1>
      </div>
      <#if error?has_content>
        <div id="error-container">
          <span>${error?html}</span>
        </div>
      </#if>
      <div id="login-form">
        <form action="${target}" method="POST" enctype="application/x-www-form-urlencoded">
          <fieldset>
            <table>
              <tr>
                <td><label for="user_login">${usernameLabel?html}:</label></td>
                <td><input id="user_login" name="login" type="text"></td>
              </tr>
              <tr>
                <td><label for="user_password">${passwordLabel?html}:</label></td>
                <td><input id="user_password" name="password" type="password"></td>
              </tr>
              <tr>
                <td colspan="2">
                  <button name="access_denied" type="submit" value="true">${cancelLabel?html}</button>
                  <button name="access_denied" type="submit" value="false">${loginLabel?html}</button>
                </td>
              </tr>
            </table>
            <input name="client_id" type="hidden" value="${clientId}">
            <input name="redirect_uri" type="hidden" value="${redirectURI}">
            <input name="scope" type="hidden" value="${scopes}">
            <input name="state" type="hidden" value="${state}">
            <input name="csrf_token" type="hidden" value="${csrfToken}">
            <input name="response_type" type="hidden" value="code">
          </fieldset>
        </form>
      </div>
    </div>
  </body>
</html>