<!DOCTYPE html>
<html lang="${lang}">
  <head>
    <meta charset="utf-8">
    <!-- An error occurred -->
    <title>${title?html}</title>
  </head>
  <body>
    <div id="main">
      <!-- There seems to be a problem with this app. -->
      <h1 id="headline">${headline?html}</h1>
      <!-- Don't worry, your data is perfectly safe. -->
      <span id="message">${message?html}</span>
      <details id ="details">
        <!-- View error details: -->
        <summary>${detailsSummary?html}</summary>
        <!-- Request was missing a required parameter: client_id -->
        <p>${detailsText?html}</p>
      </details>
    </div>
    <div id="escape">
      <button type="button" onclick="window.close();">${close?html}</button>
    </div>
  </body>
</html>