<#--                                                                             -->
<#--                                                                             -->
<#--                                                                             -->

<#macro display key value title>
	<#if value != "">
		<span class="${key}">${value?html}</span>
	</#if>
</#macro>

<#macro display_link_value contact>
	<#if contact.displayName??>
		${contact.displayName?html}
	<#elseif contact.givenName?? || contact.surName?? || contact.middleName??>
		${contact.title!""?html}
		${contact.givenName!""?html}
		${contact.middleName!""?html}
		${contact.surName!""?html}
	<#elseif contact.company??>
		${contact.company?html}
	<#elseif contact.email1??>
		${contact.email1?html}
	<#elseif contact.email2??>
		${contact.email2?html}
	<#elseif contact.email3??>
		${contact.email3?html}
	</#if>
	<@display key="ox_suffix" title="Suffix" value=contact.suffix!"" />
</#macro>

<#macro render_name contact>
	<#if contact.givenName?? || contact.surName?? || contact.middleName??>
		<tr>
			<td class="key">Name:</td>
			<td class="value">
				<@display key="ox_title" title="Title" value=contact.title!"" />
				<@display key="ox_firstName" title="First name" value=contact.givenName!"" />
				<@display key="ox_secondName" title="Second name" value=contact.middleName!"" />
				<@display key="ox_lastName" title="Last name" value=contact.surName!"" />
				<@display key="ox_suffix" title="Suffix" value=contact.suffix!"" />
			</td>
		</tr>
	</#if>
</#macro>

<#macro render key value title>
	<#if value != "">
		<tr>
			<td class="key">${title}:</td>
			<td class="${key} value">${value?html}</td>
		</tr>
	</#if>
</#macro>

<#macro render_mail key value title>
	<#if value != "">
		<tr>
			<td class="key">${title}:</td>
			<td class="value"><a href="mailto:${value?html}"><span class="${key}">${value?html}</span></a></td>
		</tr>
	</#if>
</#macro>

<#macro image contact>
	<#if contact.containsImage1()>
		<img src="${request.scheme!"http"}://${request.serverName}${utils.getImageURL(publication, contact)}" alt="" />
	</#if>
</#macro>

<#macro imageMicroformatted contact>
	<#if contact.containsImage1()>
		<img class="ox_image" src="${request.scheme!"http"}://${request.serverName}${utils.getImageURL(publication, contact)}"  alt="" />
	</#if>
</#macro>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
<head>
	<title>OX PubSub</title>
	<style type="text/css">
	<!--
	html, body {
		margin: 0;
		padding: 0;
		border: none;
		height: 100%;
		width: 100%;
		background: #e1e4eb;
	}

	html * {
		font-family: Helvetica, Arial, sans-serif;
		color: #000;
	}
	#nav {
		float:left;
		width: 20%;
	}
	#contacts {
		float: left;
		<#if (contacts?size > 2)>
		width: 70%;
		<#else>
		width: 95%;
		</#if>
	}
	#disclaimer {
		clear: both;
		padding: 10em 35% 0 35%;
		text-align: justify;
	}
	#disclaimer p, #disclaimer h2{
		font-size: 60%;
	}
	#disclaimer h2 {
		text-align: center;
	}
	td.key {
		width: 25%;
		text-align: right;
		padding-right: 1em;
	}
	table.a_contact, td.value {
		width: 100%;
	}
	td.value, td.value span {
		color: #446;
		font-weight: bold;
		text-align: left;
	}
	.ox_contact{
		clear: both;
	}
	#nav, .ox_contact {
		margin: .5em;
		border: 1px solid #999;
		background: #fff;
		padding: .5em;
	}
	#nav a, #nav a:visited, #nav a:hover, #nav a:link {
		font-weight: bold;
	}
	a, a:visited, a:hover, a:link {
		text-decoration: none;
		color: #446;
	}
	#nav li, #nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		left-indent: 0;
	}
	.back {
		text-align: center;
		font-size: 75%;
		text-decoration none;
		color: #446;
	}
	.ox_image{
		float:right;
	}
	.message {
		margin-top: 2em;
		text-align: center;
	}

	-->
	</style>
</head>

<body>
	<#assign contacts = utils.onlyPublic(contacts)>
	<#if (contacts?size == 0)>
		<div class="message">Folder is empty</div>
	</#if>

	<#if (contacts?size > 2)>
	<div id="nav">
		<ul>
			<#list contacts as contact>
			<li>
				<a href="#contact_${contacts?seq_index_of(contact)}">
					<@display_link_value contact=contact />
				</a>
			</li>
			</#list>
		</ul>
	</div>
	</#if>

	<div id="contacts">
		<#list contacts as contact>
		<div class="ox_contact" id="contact_${contacts?seq_index_of(contact)}">
			<@imageMicroformatted contact=contact />
			<table class="a_contact">
				<@render_name contact=contact />
				<@render key="ox_displayName" title="Display name" value=contact.displayName!"" />
				<@render key="ox_company" title="Company" value=contact.company!"" />
				<@render key="ox_profession" title="Profession" value=contact.profession!"" />
				<@render key="ox_department" title="Department" value=contact.department!"" />
				<@render key="ox_position" title="Position" value=contact.position!"" />
				<@render key="ox_employeeType" title="Employee type" value=contact.employeeType!"" />
				<@render key="ox_url" title="Url" value=contact.uRL!"" />
				<@render key="ox_note" title="Note" value=contact.note!"" />
			</table>
		<div class="back"><a href="#nav">Back to the top</a></div>
		</div>
		</#list>
	</div>

	<#if (contacts?size > 0)>
	<div id="disclaimer">
		${privacy}
	</div>
	</#if>
</body>
</html>