<#macro filesize value>
	<#if (value > (1024*1024*1024))>
		${(value/1024/1024/1024)?round}&nbsp;GB
	<#elseif (value > (1024*1024))>
		${(value/1024/1024)?round}&nbsp;MB
	<#elseif (value > 1024)>
		${(value/1024)?round}&nbsp;KB
	<#else>
		${value}&#8239;Bytes
	</#if>
</#macro>

<#macro download infoitem linktext>
<a href="${utils.getScheme(request)!"http"}${request.serverName}${utils.getFileURL(publication, infoitem)}" class"ox_title ox_fileName">${linktext}</a>
</#macro>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="https://pubsub.open-xchange.com/_data/css/bootstrap-combined.2.3.1.min.css" />
	<title>${publication.displayName!publication.target.displayName!"Files"}</title>
	<style type="text/css">
		.appsuite-container {
			margin: 1em auto;
			max-width: 960px; /* avoid having name, size and date separated too much */
		}
		.desc {
			font-size: 10pt;
			line-height: 12pt;
		}
		.title {
			width: 60%;
		}
		.appsuite-container td.date, .appsuite-container th.date {
			width: 30%;
			text-align: right;
		} 
		.appsuite-container td.size, .appsuite-container th.size {
			width: 10%;
			text-align: right;
		}
		#disclaimer * {
			font-size: 10pt;
			line-height: 12pt;
			color: gray;
		}
		.oxmf-information {
			display: none;
		}
		@media all and (max-width: 480px), all and (max-device-width: 480px) {
			.appsuite-container a, .appsuite-container .desc {
				word-break: break-all;
			}
		}
	</style>
</head>
<body>
	<div class="appsuite-container">
		<h1>${publication.displayName!publication.target.displayName!"Files"}</h1>
		<table id="content" class="table table-hover table-condensed">	
			<tr>
				<th class="title">Title</th>
				<th class="date">Last modified</th>
				<th class="size">Size</th>
			</tr>
			
			<#list infostore as infoitem>
			<tr class="" id="">
				<td class="title">
					<@download infoitem infoitem.title!"" />
					<#if infoitem.description?? >
					<br />
					<div class="desc ox_comment">
						${infoitem.description!""}
					</div>
					</#if>
					<div class="oxmf-information ox_infoitem" id="infoitem_${infostore?seq_index_of(infoitem)}">
		                <span class="ox_title">${infoitem.title!""}</span>
		                <span class="ox_url">${utils.getScheme(request)!"http"}${request.serverName}${utils.getFileURL(publication, infoitem)}</span>
		                <span class="ox_version">${infoitem.version!""}</span>
		                <span class="ox_creationDate">${timeFormat.format(infoitem.creationDate)}</span>
		                <span class="ox_lastModified">${timeFormat.format(infoitem.lastModified)}</span>
		                <span class="ox_tags">${infoitem.categories!""}</span>
		                <span class="ox_comment">${infoitem.description!""}</span>
		                <span class="ox_fileName">${infoitem.fileName!""}</span>
		                <span class="ox_fileSize">${infoitem.fileSize!""}</span>
		                <span class="ox_MIMEType">${infoitem.fileMIMEType!""}</span>

	              	</div>
				</td>
				<td class="date">${dateFormat.format(infoitem.lastModified)}</td>
	            <td class="size"><@filesize infoitem.fileSize/></td>	
			</tr>
			</#list>
		</table>
	
		<div id="disclaimer">
			<h2 class="header_visual">Disclaimer</h2>
	        <div>${privacy}</div>
		</div>
	</div>
</body>
</html>