<html>
	<head>
		<title>OX Crawler</title>
		<meta name="ox_sourceId" value="${SOURCE.id}" />
		<meta name="ox_icon" value="${SOURCE.icon!""}" />
		<meta name="ox_module" value="${MODULE}" />
		<meta name="ox_displayName" value="${SOURCE.displayName}" />
		<meta name="ox_priority" value="${SOURCE.priority!"0"}" />
		
	</head>
	
	<body>
		<form class="ox_form" action="${ACTION}" method="POST" name="elements">
			<table>
				<#list ELEMENTS as ELEMENT>
				<tr>
					<td><label for="${ELEMENT.id}">${ELEMENT.displayName}</label></td>
					<td><input id="${ELEMENT.id}" name="${ELEMENT.id}" type="${ELEMENT.type}"></input></td>
				</tr>
				</#list>
				<tr>
					<td colspan="2"><input type="submit"></input></td>
				</tr>
			</table>
		</form>
	</body>
</html>