<html>
	<head><title>OX Crawler</title></head>
	<body>
		<#list LINKS as LINK>
		<div class="ox_subscriptionSource">
			<a class="ox_link" href="${LINK.link}">${LINK.name}</a>
		</div>
		</#list>
	</body>
</html>