Source: open-xchange-imap-textpreview-mock
Section: web
Priority: optional
Maintainer: Thorben Betten <thorben.betten@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.7.0), ant-optional (>= 1.7.0), openjdk-8-jdk-headless, open-xchange-core (>= @OXVERSION@), open-xchange-imap (>= @OXVERSION@)
Standards-Version: 3.9.8
Homepage: http://www.open-xchange.com

Package: open-xchange-imap-textpreview-mock
Architecture: all
Depends: ${misc:Depends}, open-xchange-core (>= @OXVERSION@), open-xchange-imap (>= @OXVERSION@)
Description: The Open-Xchange IMAP TextPreview Mock Bundle
 This package implements the IMAP mock for text preview.
