<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!-- ========================================================================= -->
    <property scope="context" name="com.openexchange.logging.filter.loggerWhitelist" value="com.openexchange" />
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>
    <define name="syslogPatternLayoutActivator" class="com.openexchange.logback.extensions.SyslogPatternLayoutActivator" />

    <!-- ========================================================================= -->
    <!-- 
    <consolePlugin />
    -->
    
    <!-- ========================================================================= -->
    <appender name ="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.openexchange.logback.extensions.ExtendedPatternLayoutEncoder">
			<pattern>%date{"HH:mm:ss"} %.-1level %40.-40(%logger{0}.%method):%5.5line - %replace(%message){'\n', ' '}%n%rEx{full}</pattern>
        </encoder>
    </appender>

    <!-- ========================================================================= -->
    <appender name ="ASYNC_CONSOLE"
              class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>2048</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="CONSOLE" />
    </appender>
    
    <!-- ========================================================================= -->
	<appender name ="FILE"
	          class="ch.qos.logback.core.FileAppender">
	    <file>/var/log/open-xchange/eclipse.log</file>
	    <encoder>
            <pattern>%date{"HH:mm:ss"} %.-1level %40.-40(%logger{0}.%method):%5.5line - %replace(%message){'\n', ' '}%n%rEx{full}</pattern>
	    </encoder>
	</appender>
    
    <!-- ========================================================================= -->
    <appender name ="ASYNC_FILE"
              class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>2048</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="FILE" />
    </appender>
	
    <!-- ========================================================================= -->
    <root level="WARN">
        <appender-ref ref="ASYNC_CONSOLE" />
    </root>

<!--
    <logger name="com.openexchange.office"                                      level="INFO" />
    <logger name="com.openexchange.office.tools.osgi"                           level="INFO" />
-->

    <logger name="com.openexchange.documentconverter" level="OFF"   />
    <logger name="com.openexchange.office"            level="INFO"  />
    <logger name="com.openexchange.office.rt2"        level="DEBUG" />
    
</configuration>
