Source: open-xchange-admin-plugin-user-copy
Section: net
Priority: optional
Maintainer: dennis.sieben <dennis.sieben@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk|sun-java6-jdk|java6-sdk, open-xchange-admin-plugin-hosting-client (>= @OXVERSION@), perl, open-xchange-common (>= @OXVERSION@), open-xchange-user-copy (>= @OXVERSION@), open-xchange-admin-soap (>= @OXVERSION@)
Build-Conflicts: ecj, libecj-java-gcj, ecj-gcj, libecj-java, gcj-4.3-base, libgcj-common, libgcj9-0, libgcj-bc, libgcj9-jar, java-gcj-compat-headless, gcj-4.3, java-gcj-compat, java-gcj-compat-dev
Standards-Version: 3.6.1

Package: open-xchange-admin-plugin-user-copy
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, open-xchange-admin-plugin-hosting-client (>= @OXVERSION@), open-xchange-user-copy (>= @OXVERSION@)
Description: Open Xchange Admin User Copy Bundle

Package: open-xchange-admin-plugin-user-copy-soap
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-admin-plugin-user-copy-client (>= @OXVERSION@), open-xchange-admin-soap (>= @OXVERSION@)
Description: Open Xchange Admin User Copy Bundle SOAP server

Package: open-xchange-admin-plugin-user-copy-client
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-admin-plugin-user-copy (>= @OXVERSION@)
Description: Open Xchange Admin User Copy Bundle SOAP client
