* {
    font-family: tahoma;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

p {
    line-height: 18px;
}

div {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.loginForm {
  text-align: center;
}

#detect {
    padding: 5px;
    background: #ffc0cb;
    border-radius: 5px;
    border: 1px solid #CCC;
    margin-top: 10px;
}

#content {
/*     padding: 5px; */
    background: #ddd;
/*     border-radius: 5px; */
    margin-top: 10px;
}

#header {
    padding: 5px;
    background: #f5deb3;
    border-radius: 5px;
    border: 1px solid #CCC;
    margin-top: 10px;
}

#input {
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    height: 300px;
}

#status {
    margin-top: 10px;
}

textarea {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#send {
    margin-top: 4px;
}