Source: open-xchange-xml
Section: unknown
Priority: optional
Maintainer: Marcus Klein <marcus.klein@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk, open-xchange-common (>= @OXVERSION@)
Standards-Version: 3.6.1

Package: open-xchange-xml
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, j2re1.5|sun-java5-jre|sun-java6-jre, open-xchange-common (>= @OXVERSION@)
Description: XML Services
 Provides commonly used XML services, isolating the OSGi service infrastructure from XML class imports/exports.