<Product>
    <Name>${name}</Name>
    <Version>${version}</Version>
    <UpgradeCode>{F51277C0-B198-4932-BCD5-D37DAFC1CEFF}</UpgradeCode>
    <ReleaseDate>${release}</ReleaseDate>
    <URL>${URL}</URL>
    <MD5>${MD5}</MD5>
    <MSIURL>${MSI_URL}</MSIURL>
    <MSIMD5>${MSI_MD5}</MSIMD5>
    <Icon>${ICON}</Icon>
    <InstallParams>OX_SERVERURL=${OX_SERVERURL} OX_USERNAME=${OX_USERNAME}</InstallParams>
	<Importance>200</Importance>
</Product>
