Source: open-xchange-subscribe
Section: unknown
Priority: optional
Maintainer: Marcus Klein <marcus.klein@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk|sun-java6-jdk, open-xchange-common (>= @OXVERSION@), open-xchange-global (>= @OXVERSION@), open-xchange-genconf (>= @OXVERSION@), open-xchange-genconf-mysql (>= @OXVERSION@), open-xchange-server (>= @OXVERSION@), open-xchange-sql (>= @OXVERSION@), open-xchange-crypto (>= @OXVERSION@), open-xchange-secret (>= @OXVERSION@), open-xchange-secret-recovery (>= @OXVERSION@), open-xchange-calendar (>= @OXVERSION@), open-xchange-tx (>= @OXVERSION@), open-xchange-config-cascade >= @OXVERSION@
Build-Conflicts: ecj, libecj-java-gcj, ecj-gcj, libecj-java, gcj-4.3-base, libgcj-common, libgcj9-0, libgcj-bc, libgcj9-jar, java-gcj-compat-headless, gcj-4.3, java-gcj-compat, java-gcj-compat-dev
Standards-Version: 3.6.1

Package: open-xchange-subscribe
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, j2re1.5|sun-java5-jre|sun-java6-jre, open-xchange-common (>= @OXVERSION@), open-xchange-global (>= @OXVERSION@), open-xchange-genconf (>= @OXVERSION@), open-xchange-genconf-mysql (>= @OXVERSION@), open-xchange-server (>= @OXVERSION@), open-xchange-sql (>= @OXVERSION@), open-xchange-crypto (>= @OXVERSION@), open-xchange-secret (>= @OXVERSION@), open-xchange-secret-recovery (>= @OXVERSION@), open-xchange-calendar (>= @OXVERSION@), open-xchange-tx (>= @OXVERSION@), open-xchange-config-cascade >= @OXVERSION@
Description: Basic OSGi based implementation of the subscription infrastructure