<#if message?has_content>
${message_intro}:

${message}
</#if>

${link_intro}:
${link}
<#if username?has_content && password?has_content>

${credentials_intro}:
${username_field}: ${username}
${password_field}: ${password}
</#if>