<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
  <meta charset="UTF-8"></meta>
  <style type="text/css">

    .content {
      white-space: normal;
      color: black;
      font-family: OpenSans, Arial, Helvetica, sans-serif;
      font-size: 12pt;
      cursor: default;
    }

    .link {
      cursor: pointer;
      text-decoration: underline;
      color: #00A0CD;
      font-weight: bold;
      margin: 0 0 0 1em;
    }

    .unpw {
     -webkit-user-select: text;
     -moz-user-select: text;
     user-select: text;
     cursor: text;
     font-weight: bold;
    }

  </style>
</head>
<body>
  <#escape x as x?html>
   <p>${pw_reset_confirm_intro}</p>
   <p><a href="${pw_reset_confirm_link}">${pw_reset_confirm_link}</a></p>
  </#escape>
</body>
</html>