<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
  <meta charset="UTF-8"></meta>
  <style type="text/css">

    .content {
      white-space: normal;
      color: black;
      font-family: OpenSans, Arial, Helvetica, sans-serif;
      font-size: 12pt;
      cursor: default;
    }

    .link {
      cursor: pointer;
      text-decoration: underline;
      color: #00A0CD;
      font-weight: bold;
      margin: 0 0 0 1em;
    }

    .credential-container {
      margin: 2em 0 0 0;
    }

    .credentials {
      margin: 0.5em 0 0 0;
      border: 0;
    }

    .credentials td {
      padding-left: 1em;
    }

    .unpw {
     -webkit-user-select: text;
     -moz-user-select: text;
     user-select: text;
     cursor: text;
     font-weight: bold;
    }

  </style>
</head>
<body>
  <#escape x as x?html>
   <p>${pw_reset_intro.pre()}<a href="${pw_reset_intro.in()}">${pw_reset_intro.in()}</a>${pw_reset_intro.post()}</p>
   <div class="credential-container">
   ${credentials_intro}:
    <table class="credentials">
     <tr>
      <td>${username_field}:</td>
      <td><span class="unpw">${username}</td>
     </tr>
     <tr>
      <td>${password_field}:</td>
      <td><span class="unpw">${password}</td>
     </tr>
    </table>
   </div>
  </div>
  </#escape>
</body>
</html>