<wap-provisioningdoc>
   <characteristic type="Sync">
        <characteristic type="Settings">
        <parm name="SyncWhenRoaming" value="1"/>
        </characteristic>
        <characteristic type="Connection">
            <parm name="Domain" value="${domain}"/>
            <parm name="Server" value="${host}"/>
            <parm name="User" value="${username}"/>
            <parm name="SavePassword" value="1"/>
            <parm name="URI" value="Microsoft-Server-ActiveSync"/>
        <parm name="UseSSL" value="1"/>
        </characteristic>
        <characteristic type="Mail">
            <parm name="Enabled" value="1"/>
        <parm name="EmailAgeFilter" value="3"/>
        </characteristic>
        <characteristic type="Calendar">
            <parm name="Enabled" value="1"/>
        <parm name="CalendarAgeFilter" value="5"/>
        </characteristic>
        <characteristic type="Contacts">
            <parm name="Enabled" value="1"/>
        </characteristic>
   </characteristic>
   <characteristic type='BrowserFavorite'>
    <characteristic type='Open Xchange'>
        <parm name='URL' value='http://www.open-xchange.com'/>
    </characteristic>
</characteristic>  
</wap-provisioningdoc>
