${labels.updateIntroduction}

<#if (labels.comment??)>
${labels.comment}
</#if>

<#if (changes??)>
<#list changes as change>
${change}
</#list>
</#if>


${templating.include( "notify.event.show.txt.tmpl" )}
