<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <style type="text/css">
            ${templating.include( "notify.event.styles.css.tmpl" )}
        </style>
    </head>
    <body>
        <div class="content">
            ${templating.include( "notify.event.intro.html.tmpl" )}
            <div class="calendar-action">
                ${labels.counterParticipantIntroduction}
                <#if (changes??)>
                    <div class="changes">
                        <ul>
                            <#list changes as change>
                                <li><div class="change">${change}</div></li>
                            </#list>
                        </ul>
                    </div>
                </#if>
            </div>
            ${templating.include( "notify.event.show.html.tmpl" )}
        </div>
    </body>
</html>
