Source: open-xchange-subscribe-crawler
Section: unknown
Priority: optional
Maintainer: Marcus Klein <marcus.klein@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk, open-xchange-common (>= @OXVERSION@), open-xchange-global (>= @OXVERSION@), open-xchange-subscribe (>= @OXVERSION@), open-xchange-server (>= @OXVERSION@), open-xchange-genconf (>= @OXVERSION@), open-xchange-xml (>= @OXVERSION@), open-xchange-xerces-sun
Standards-Version: 3.6.1

Package: open-xchange-subscribe-crawler
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, j2re1.5|sun-java5-jre|sun-java6-jre, open-xchange-common (>= @OXVERSION@), open-xchange-global (>= @OXVERSION@), open-xchange-subscribe (>= @OXVERSION@), open-xchange-server (>= @OXVERSION@), open-xchange-genconf (>= @OXVERSION@), open-xchange-xml (>= @OXVERSION@), open-xchange-xerces-sun
Description: Subscribe Crawler feeds
Provides: open-xchange-subscribe-linkedin, open-xchange-subscribe-xing
Conflicts: open-xchange-subscribe-linkedin, open-xchange-subscribe-xing
Replaces: open-xchange-subscribe-linkedin, open-xchange-subscribe-xing
