Source: open-xchange-meta
Section: unknown
Priority: optional
Maintainer: choeger <choeger@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk|sun-java6-jdk
Build-Conflicts: ecj, libecj-java-gcj, ecj-gcj, libecj-java, gcj-4.3-base, libgcj-common, libgcj9-0, libgcj-bc, libgcj9-jar, java-gcj-compat-headless, gcj-4.3, java-gcj-compat, java-gcj-compat-dev
Standards-Version: 3.6.1

Package: open-xchange-meta-oxucs
Architecture: all
Depends: ${oxcommon}, ${all-lang}, univention-config-registry, open-xchange-authentication-ucs, open-xchange-spamhandler-spamassassin, open-xchange-mailfilter, open-xchange-meta-admin, open-xchange-meta-pubsub, open-xchange-meta-messaging, open-xchange-meta-gui, open-xchange-push-mailnotify
Description: The Open-Xchange Meta package for OX into UCS integration

Package: open-xchange-meta-parallels
Architecture: all
Depends: ${oxcommon}, ${all-lang}, open-xchange-custom-parallels, open-xchange-custom-parallels-gui, open-xchange-spamhandler-spamassassin, open-xchange-admin-soap, open-xchange-easylogin, open-xchange-meta-admin, open-xchange-meta-pubsub, open-xchange-meta-messaging, open-xchange-meta-gui
Description: The Open-Xchange Meta package for OX into Parallels integration

Package: open-xchange-meta-plesk
Architecture: all
Depends: ${oxcommon}, ${all-lang}, open-xchange-spamhandler-default, open-xchange-admin-soap, open-xchange-easylogin, open-xchange-meta-admin, open-xchange-meta-pubsub, open-xchange-meta-messaging, open-xchange-meta-gui, open-xchange-upsell-generic
Description: The Open-Xchange Meta package for OX into Plesk integration

Package: open-xchange-meta-server
Architecture: all
Depends: ${oxcommon}, open-xchange-authentication, open-xchange-spamhandler
Description: The Open-Xchange Meta package for OX Backend

Package: open-xchange-meta-admin
Architecture: all
Depends: open-xchange-admin-client, open-xchange-admin-lib, open-xchange-admin-plugin-hosting, open-xchange-admin-plugin-hosting-client, open-xchange-admin-plugin-hosting-lib, open-xchange-admin-doc, open-xchange-admin-plugin-hosting-doc
Description: The Open-Xchange Meta package for User/Group Provisioning

Package: open-xchange-meta-pubsub
Architecture: all
Depends: open-xchange-publish, open-xchange-publish-basic, open-xchange-publish-infostore-online, open-xchange-publish-json, open-xchange-publish-microformats, open-xchange-subscribe, open-xchange-subscribe-json, open-xchange-subscribe-microformats, open-xchange-subscribe-crawler, open-xchange-templating
Description: The Open-Xchange Meta package for Publish and Subscribe

Package: open-xchange-meta-messaging
Architecture: all
Depends: open-xchange-unifiedinbox, open-xchange-messaging-twitter, open-xchange-messaging-rss, open-xchange-messaging-json, open-xchange-messaging-facebook
Description: The Open-Xchange Meta package for Messaging

Package: open-xchange-meta-gui
Architecture: all
Depends: open-xchange-gui, open-xchange-gui-wizard-plugin-gui, open-xchange-online-help-de, open-xchange-online-help-en, open-xchange-online-help-fr
Description: The Open-Xchange Meta package for OX GUI

Package: open-xchange-meta-singleserver
Architecture: all
Depends: open-xchange-meta-server, open-xchange-meta-gui, open-xchange-meta-admin, open-xchange-meta-pubsub, open-xchange-meta-messaging
Description: The Open-Xchange Meta package for OX on a single server

Package: open-xchange-meta-databaseonly
Architecture: all
Depends: open-xchange-passwordchange-database, open-xchange-passwordchange-servlet, open-xchange-resource-managerequest, open-xchange-group-managerequest
Description: The Open-Xchange Meta package for OX managed via database only

Package: open-xchange-meta-mobility
Architecture: all
Depends: open-xchange-eas, open-xchange-usm, open-xchange-help-usm-eas, open-xchange-mobile-configuration-generator, open-xchange-mobile-configuration-json, open-xchange-mobile-configuration-json-action-email, open-xchange-mobile-configuration-gui
Description: The Open-Xchange Meta package for Business Mobility

Package: open-xchange-meta-outlook
Architecture: all
Depends: open-xchange-outlook-updater, open-xchange-outlook-updater-oxtender2, open-xchange-usm, open-xchange-folder-json
Description: The Open-Xchange Meta package for Outlook OXtender
