Source: open-xchange-admin-plugin-autocontextid
Section: net
Priority: optional
Maintainer: Dennis Sieben <dennis.sieben@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk|sun-java6-jdk|java6-sdk, open-xchange-admin-plugin-hosting (>= @OXVERSION@), open-xchange-admin (>= @OXVERSION@)
Build-Conflicts: ecj, libecj-java-gcj, ecj-gcj, libecj-java, gcj-4.3-base, libgcj-common, libgcj9-0, libgcj-bc, libgcj9-jar, java-gcj-compat-headless, gcj-4.3, java-gcj-compat, java-gcj-compat-dev
Standards-Version: 3.6.1

Package: open-xchange-admin-plugin-autocontextid
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-admin (>= @OXVERSION@), open-xchange-admin-plugin-hosting (>= @OXVERSION@)
Description: The Open Xchange Admin Auto Context ID plugin

Package: open-xchange-admin-plugin-autocontextid-client
Architecture: all
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-admin-client (>= @OXVERSION@), open-xchange-admin-plugin-hosting-client (>= @OXVERSION@)
Description: The Open Xchange Admin Auto Context ID plugin client library

