Source: open-xchange-hostname-ldap
Section: web
Priority: optional
Maintainer: Marcus Klein <marcus.klein@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.7.0), ant-optional (>= 1.7.0), openjdk-8-jdk-headless, open-xchange-core (>= @OXVERSION@)
Standards-Version: 3.9.8
Homepage: http://www.open-xchange.com

Package: open-xchange-hostname-ldap
Architecture: all
Pre-Depends: open-xchange-core (>= @OXVERSION@)
Depends: ${misc:Depends}
Description: Open-Xchange Hostname LDAP
