Source: open-xchange-authentication-oauth
Section: web
Priority: optional
Maintainer: Steffen Templin <steffen.templin@open-xchange.com>
Build-Depends: debhelper (>= 7.0.1), ant-optional (>= 1.7.0), openjdk-8-jdk-headless | adoptopenjdk-8-hotspot, open-xchange-core (>= @OXVERSION@)
Standards-Version: 3.9.8
Homepage: http://www.open-xchange.com

Package: open-xchange-authentication-oauth
Architecture: all
Depends: ${misc:Depends}, open-xchange-core (>= @OXVERSION@)
Provides: open-xchange-authentication
Conflicts: open-xchange-authentication-database, open-xchange-authentication-imap, open-xchange-authentication-ldap
Description: OAuth 2.0 based AuthenticationService
 This package contains an AuthenticationService using the OAuth 2.0 Resource Owner Password Credentials Grant.
