Source: open-xchange-spamsettings-generic
Section: unknown
Priority: optional
Maintainer: Dennis Sieben <dennis.sieben@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk|sun-java6-jdk|java6-sdk, open-xchange-common (>= @OXVERSION@), open-xchange-global (>= @OXVERSION@), open-xchange-server (>= @OXVERSION@), open-xchange-genconf (>= @OXVERSION@)
Build-Conflicts: ecj, libecj-java-gcj, ecj-gcj, libecj-java, gcj-4.3-base, libgcj-common, libgcj9-0, libgcj-bc, libgcj9-jar, java-gcj-compat-headless, gcj-4.3, java-gcj-compat, java-gcj-compat-dev
Standards-Version: 3.6.1

Package: open-xchange-spamsettings-generic
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, j2re1.5|sun-java5-jre|sun-java6-jre|java6-runtime, open-xchange-common (>= @OXVERSION@), open-xchange-server (>=@OXVERSION@), open-xchange-genconf (>= @OXVERSION@)
Description:  This bundle provides a generic interface for spam settings

Package: open-xchange-spamsettings-generic-gui
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-gui (>= @OXVERSION@)
Description:  This bundle provides the gui part for the generic spam settings
