Source: open-xchange-authentication-imap
Section: web
Priority: optional
Maintainer: Marcus Klein <marcus.klein@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.7.0), ant-optional (>= 1.7.0), java7-jdk | java7-sdk, open-xchange-core (>= @OXVERSION@)
Standards-Version: 3.8.4
Homepage: http://www.open-xchange.com

Package: open-xchange-authentication-imap
Architecture: all
Pre-Depends: open-xchange-core (>= @OXVERSION@)
Depends: ${misc:Depends}
Conflicts: open-xchange-authentication-database, open-xchange-authentication-ldap
Provides: open-xchange-authentication
Description: Module for authenticating users using the IMAP server
 This package installs the OSGi bundle implementing the OSGi AuthenticationService for the backend. The implementation uses some IMAP server
 to authenticate login requests.
 This authentication module is mutually exclusive with any other authentication module. Only one authentication module can be installed on
 the backend.
