<div class="section_left">
	<b style="font-size: 14px">If Outlook&copy; is your preferred choice,<br>use it as your local Groupware Client.</b><br>
	<ul>
	  <li>
		  All your Appointments, Contacts, Mails, etc. get synchronized.
		</li>
		<li>
		  Same look & feel locally and access via web-interface if needed.
		</li>
		<li class="detail">
		  All your private, public and shared folders are accessable
		</li>
  </ul>
  <a style="display: block" href="#" class="detail_show">[more]</a>
  <b style="font-size: 14px; display: block; padding-top: 20px">Sign up for a 90 Day free trial; now!</b>
</div>
<div class="section_right">
  <a href="plugins/com.openexchange.upsell.multiple.gui/templates/_outlook/img/outlook_big.png" class="light_box image" >
    <img src="/plugins/com.openexchange.upsell.multiple.gui/templates/_outlook/img/outlook_small.png" />
  </a>
  <a href="plugins/com.openexchange.upsell.multiple.gui/templates/_outlook/flash/teaser/teaservideo04-oxtender-outlook-en-draft05_controller.swf" class="light_box swf">
    <img src="/plugins/com.openexchange.upsell.multiple.gui/templates/_outlook/img/outlook_video.png" />
  </a>
</div>