#################
#
# Mappings 
# The left side contains the values in OX, and the right side contains the value name for ldap

# This part contains the openLdap mapping

# Required
com.openexchange.contacts.ldap.mapping.openldap.uniqueid            = uidNumber

# Optional
com.openexchange.contacts.ldap.mapping.openldap.displayname         = displayName
com.openexchange.contacts.ldap.mapping.openldap.givenname           = givenName
com.openexchange.contacts.ldap.mapping.openldap.surname             = sn
com.openexchange.contacts.ldap.mapping.openldap.email1              = mail
com.openexchange.contacts.ldap.mapping.openldap.department          =
com.openexchange.contacts.ldap.mapping.openldap.company             =

# The name of the attribute where the name of distributionlists is stored
com.openexchange.contacts.ldap.mapping.openldap.distributionlistname = cn

# This attribute must be set to have a uid field for distributionlists because this
# differs from the uid for user object on some LDAP servers
com.openexchange.contacts.ldap.mapping.openldap.distributionuid = gidNumber

com.openexchange.contacts.ldap.mapping.openldap.birthday				=
com.openexchange.contacts.ldap.mapping.openldap.anniversary			=
com.openexchange.contacts.ldap.mapping.openldap.branches				=
com.openexchange.contacts.ldap.mapping.openldap.business_category		=
com.openexchange.contacts.ldap.mapping.openldap.postal_code_business		= postalCode
com.openexchange.contacts.ldap.mapping.openldap.state_business			= st
com.openexchange.contacts.ldap.mapping.openldap.street_business			= streetAddress
com.openexchange.contacts.ldap.mapping.openldap.telephone_callback		=
com.openexchange.contacts.ldap.mapping.openldap.city_home			=
com.openexchange.contacts.ldap.mapping.openldap.commercial_register		=
com.openexchange.contacts.ldap.mapping.openldap.country_home			=
com.openexchange.contacts.ldap.mapping.openldap.email2				=
com.openexchange.contacts.ldap.mapping.openldap.email3				=
com.openexchange.contacts.ldap.mapping.openldap.employeetype			=
com.openexchange.contacts.ldap.mapping.openldap.fax_business			= facsimileTelehoneNumber
com.openexchange.contacts.ldap.mapping.openldap.fax_home				=
com.openexchange.contacts.ldap.mapping.openldap.fax_other			=
com.openexchange.contacts.ldap.mapping.openldap.instant_messenger1		=
com.openexchange.contacts.ldap.mapping.openldap.instant_messenger2		=
com.openexchange.contacts.ldap.mapping.openldap.telephone_ip			= 
com.openexchange.contacts.ldap.mapping.openldap.telephone_isdn			= internationaliSDNNumber
com.openexchange.contacts.ldap.mapping.openldap.mail_folder_drafts_name		=
com.openexchange.contacts.ldap.mapping.openldap.mail_folder_sent_name		=
com.openexchange.contacts.ldap.mapping.openldap.mail_folder_spam_name		=
com.openexchange.contacts.ldap.mapping.openldap.mail_folder_trash_name		=
com.openexchange.contacts.ldap.mapping.openldap.manager_name			=
com.openexchange.contacts.ldap.mapping.openldap.marital_status			=
com.openexchange.contacts.ldap.mapping.openldap.cellular_telephone1		= mobile
com.openexchange.contacts.ldap.mapping.openldap.cellular_telephone2		=
com.openexchange.contacts.ldap.mapping.openldap.info				= info
com.openexchange.contacts.ldap.mapping.openldap.nickname				=
com.openexchange.contacts.ldap.mapping.openldap.number_of_children		=
com.openexchange.contacts.ldap.mapping.openldap.note				=
com.openexchange.contacts.ldap.mapping.openldap.number_of_employee		=
com.openexchange.contacts.ldap.mapping.openldap.telephone_pager			= pager
com.openexchange.contacts.ldap.mapping.openldap.telephone_assistant		= 
com.openexchange.contacts.ldap.mapping.openldap.telephone_business1		= telephoneNumber
com.openexchange.contacts.ldap.mapping.openldap.telephone_business2		=
com.openexchange.contacts.ldap.mapping.openldap.telephone_car			=
com.openexchange.contacts.ldap.mapping.openldap.telephone_company		=
com.openexchange.contacts.ldap.mapping.openldap.telephone_home1			= homePhone
com.openexchange.contacts.ldap.mapping.openldap.telephone_home2			=
com.openexchange.contacts.ldap.mapping.openldap.telephone_other			=
com.openexchange.contacts.ldap.mapping.openldap.postal_code_home			= 
com.openexchange.contacts.ldap.mapping.openldap.profession			=
com.openexchange.contacts.ldap.mapping.openldap.telephone_radio			=
com.openexchange.contacts.ldap.mapping.openldap.room_number			= roomNumber
com.openexchange.contacts.ldap.mapping.openldap.sales_volume			=
com.openexchange.contacts.ldap.mapping.openldap.city_other			=
com.openexchange.contacts.ldap.mapping.openldap.country_other			=
com.openexchange.contacts.ldap.mapping.openldap.middle_name			= 
com.openexchange.contacts.ldap.mapping.openldap.postal_code_other		=
com.openexchange.contacts.ldap.mapping.openldap.state_other			=
com.openexchange.contacts.ldap.mapping.openldap.street_other			=
com.openexchange.contacts.ldap.mapping.openldap.spouse_name			=
com.openexchange.contacts.ldap.mapping.openldap.state_home			=
com.openexchange.contacts.ldap.mapping.openldap.street_home			=
com.openexchange.contacts.ldap.mapping.openldap.suffix				=
com.openexchange.contacts.ldap.mapping.openldap.tax_id				=
com.openexchange.contacts.ldap.mapping.openldap.telephone_telex			=
com.openexchange.contacts.ldap.mapping.openldap.telephone_ttytdd			=
com.openexchange.contacts.ldap.mapping.openldap.url				= wWWHome
com.openexchange.contacts.ldap.mapping.openldap.userfield01			=
com.openexchange.contacts.ldap.mapping.openldap.userfield02			=
com.openexchange.contacts.ldap.mapping.openldap.userfield03			=
com.openexchange.contacts.ldap.mapping.openldap.userfield04			=
com.openexchange.contacts.ldap.mapping.openldap.userfield05			=
com.openexchange.contacts.ldap.mapping.openldap.userfield06			=
com.openexchange.contacts.ldap.mapping.openldap.userfield07			=
com.openexchange.contacts.ldap.mapping.openldap.userfield08			=
com.openexchange.contacts.ldap.mapping.openldap.userfield09			=
com.openexchange.contacts.ldap.mapping.openldap.userfield10			=	
com.openexchange.contacts.ldap.mapping.openldap.userfield11			=
com.openexchange.contacts.ldap.mapping.openldap.userfield12			=
com.openexchange.contacts.ldap.mapping.openldap.userfield13			=
com.openexchange.contacts.ldap.mapping.openldap.userfield14			=
com.openexchange.contacts.ldap.mapping.openldap.userfield15			=
com.openexchange.contacts.ldap.mapping.openldap.userfield16			=
com.openexchange.contacts.ldap.mapping.openldap.userfield17			=
com.openexchange.contacts.ldap.mapping.openldap.userfield18			=
com.openexchange.contacts.ldap.mapping.openldap.userfield19			=
com.openexchange.contacts.ldap.mapping.openldap.userfield20			=
com.openexchange.contacts.ldap.mapping.openldap.city_business			= l
com.openexchange.contacts.ldap.mapping.openldap.country_business			= co
com.openexchange.contacts.ldap.mapping.openldap.assistant_name			=
com.openexchange.contacts.ldap.mapping.openldap.telephone_primary		=
com.openexchange.contacts.ldap.mapping.openldap.categories			=
# Integer value between 1 and 3 specifying one of the values in email1... email3
com.openexchange.contacts.ldap.mapping.openldap.defaultaddress			=
com.openexchange.contacts.ldap.mapping.openldap.title				= title
com.openexchange.contacts.ldap.mapping.openldap.position				=
com.openexchange.contacts.ldap.mapping.openldap.lastmodified			= modifyTimestamp
com.openexchange.contacts.ldap.mapping.openldap.creationdate			= createTimestamp
