Source: open-xchange-themes-default
Section: web
Priority: optional
Maintainer: Marcus Klein <marcus.klein@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.7.0), ant-optional (>= 1.7.0), java7-jdk | java7-sdk
Standards-Version: 3.8.4
Homepage: http://www.open-xchange.com

Package: open-xchange-themes-default
Architecture: all
Depends: ${misc:Depends}, open-xchange-core (>= @OXVERSION@)
Provides: open-xchange-theme-default
Description: Enables the default themes in the UI
 Contains configuration files transfered through preferences interface to the UI. Tells the UI the installed themes.
