Source: open-xchange-mailfilter
Section: net
Priority: optional
Maintainer: choeger <choeger@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk, open-xchange-common, open-xchange-global, open-xchange-server, open-xchange-configread
Standards-Version: 3.6.1

Package: open-xchange-mailfilter
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, j2re1.5|sun-java5-jre, open-xchange-common, open-xchange-global, open-xchange-server, open-xchange-configread
Description: Open Xchange Mailfilter Plugin
