Source: open-xchange-messaging
Section: web
Priority: optional
Maintainer: Marcus Klein <marcus.klein@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.7.0), ant-optional (>= 1.7.0), java7-jdk | java7-sdk, open-xchange-core (>= @OXVERSION@), open-xchange-oauth (>= @OXVERSION@), open-xchange-xerces-sun
Standards-Version: 3.8.4
Homepage: http://www.open-xchange.com

Package: open-xchange-messaging
Architecture: all
Depends: ${misc:Depends}, open-xchange-oauth (>= @OXVERSION@), open-xchange-xerces, open-xchange-core (>= 7.2.1-0)
Replaces: open-xchange-messaging-generic, open-xchange-messaging-json, open-xchange-messaging-rss, open-xchange-messaging-twitter, open-xchange-twitter
Conflicts: open-xchange-messaging-generic, open-xchange-messaging-json, open-xchange-messaging-rss, open-xchange-messaging-twitter, open-xchange-twitter
Description: The Open Xchange backend messaging extension
 Adds the feature to use messaging services to the backend installation.
