<div class="appointment-listitem">
    <div class="location"><%= location %></div>
    <div class="title"><%= title %></div>
    <div class="recurrence_start"><%= recurrence_start %></div>
    <div class="start_date"><%= start_date %></div>
    <div class="organizer"><%= organizer %></div>
    <div class="status"><%= status %></div>
</div>