<div class="widget-item appointment">
    <div class="title"><%- title %></div>
    <div class="location"><%- location %></div>
    <div class="recurrence"><%- recurrence %></div>
    <div class="note"><%- note %></div>
</div>