<div class="widget-item appointment">
    <div class="location"><%- location %></div>
    <div class="title"><%- title %></div>
    <div class="recurrence"><%- recurrence %></div>
    <div class="start_date"><%- start_date %></div>
    <div class="end_date"><%- end_date %></div>
    <div class="organizer"><%- organizer %></div>
    <div class="status"><%- status %></div>
    <div class="note"><%- note %></div>
    <div class="start_date_timestamp"><%- start_date_timestamp %></div>
</div>