<div class="mail-listitem">
    <div class="sender"><%= from %></div>
    <div class="sender"><%= received_date %></div>
    <div class="sender"><%= subject %></div>
    <div class="sender"><%= flags %></div>
    <div class="sender"><%= attachements %></div>
</div>