<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/open-xchange-admin-plugin-hosting/src/com/openexchange/admin/console/user/Change.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.openexchange.admin.console.user.Change"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-c 424242669 -A oxadmin -P secret -i 83 --foldertree 1 --extendedoptions"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="open-xchange-admin-plugin-hosting"/>
</launchConfiguration>
