<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.openexchange.admin.console/src/com/openexchange/admin/console/user/Create.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.openexchange.admin.console.user.Create"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-A oxadminmaster -P secret -c 31145 -u aron.anderson -d &quot;Aron Anderson&quot; -g Aron -s Anderson -p secret -e aron.aderson@imap.server.invalid -l en_US -t America/New_York -x Engineering -x &quot;ACC Trust&quot; --access-combination-name=nothing --imapserver imap.server.invalid --smtpserver smtp.server.invalid --imaplogin aron.anderson"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.openexchange.admin.console"/>
</launchConfiguration>
