  <#-- 
    Include this in your header section to style links as buttons
    and to prepare the style of the footer. Every anchor that shall
    visually become a button needs to carry the 'class="btn"' attribute.
    To display the footer you must include the common footer template
    at the bottom of your body element. See example.tmpl in the docs
    directory for details.
  -->

  <style type="text/css">
    a.btn {
      <#if button_color?has_content>
        color: ${button_color};
      <#else>
        color: #ffffff;
      </#if>

      <#if button_background_color?has_content>
        background-color: ${button_background_color};
      <#else>
        background-color: #3c73aa;
      </#if>

      <#if button_border_color?has_content>
        border-color: ${button_border_color};
      <#else>
        border-color: #356697;
      </#if>

      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;

      text-align: center;
      text-decoration: none;
      vertical-align: middle;
    }

    #signature img.logo {
      display: inline;
      float: right;
    }

  </style>