<#--
    Include this somehere at the top of your template. You can then use
    the <@styledButton> macro to render a button with inline styles.
    This is intended to be used for email templates, not for general static
    HTML.
-->
<#macro styledButton link color=button_color!"#ffffff" background=button_background_color!"#3c73aa" borderColor=button_border_color!"#356697">
  <a href="${link}" style="

color:${color};
background:${background};
border-color:${borderColor};

padding:10px 15px;
font-size:14px;
line-height:1.5;
border: 1px solid;
border-radius:3px;
display: inline-block;

text-align:center;
text-decoration:none;
vertical-align:middle;

">
    <span><#nested></span>
  </a>
</#macro>

