Source: open-xchange-ajp
Section: web
Priority: optional
Maintainer: Marc Arens <marc.arens@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.7.0), ant-optional (>= 1.7.0), sun-java6-jdk|java6-sdk, open-xchange-core (>= @OXVERSION@)
Standards-Version: 3.8.4
Homepage: http://www.open-xchange.com

Package: open-xchange-ajp
Architecture: all
Depends: ${misc:Depends}, open-xchange-core (>= @OXVERSION@)
Conflicts: open-xchange-grizzly
Provides: open-xchange-httpservice
Description: The Open-Xchange AJP Connector
 This package implements an AJP Connector and provides the OSGi http service.
