<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.openexchange.server/src/com/openexchange/groupware/update/tools/console/UpdateTaskResetVersionCLT.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.openexchange.groupware.update.tools.console.UpdateTaskResetVersionCLT"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--help"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.openexchange.server"/>
</launchConfiguration>
