/tasks?action=confirm:
  put:
    operationId: confirmTask
    tags:
      - Tasks
    summary: Confirms a task.
    parameters:
      - $ref: '#/components/parameters/gblQueryParamSession'
      - in: query
        name: id
        description: Object ID of the task that shall be confirmed.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/gblQueryParamTaskFolder'
      - in: query
        name: timestamp
        description: Timestamp of the last update of the task.
        required: true
        schema:
          type: integer
          format: int64
    responses:
      '200':
        description: >
          Nothing, except the standard response object with empty data, the
          timestamp of the confirmed and thereby

          updated task, and maybe errors. In case of errors the responsible
          fields in the response are

          filled (see [Error handling](#error-handling)).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommonResponse'
    requestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaskConfirmationBody'
      description: A JSON object with the fields `confirmation` and `confirmmessage`.
      required: true
