/tasks?action=delete:
  put:
    operationId: deleteTasks
    tags:
      - Tasks
    summary: Deletes tasks.
    parameters:
      - $ref: '#/components/parameters/gblQueryParamSession'
      - in: query
        name: timestamp
        description: Timestamp of the last update of the deleted tasks.
        required: true
        schema:
          type: integer
          format: int64
    responses:
      '200':
        description: >
          A JSON array with object IDs of tasks which were modified after the
          specified timestamp and were therefore not deleted. In case of errors
          the responsible fields in the response are

          filled (see [Error handling](#error-handling)).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskDeletionsResponse'
    requestBody:
      $ref: '#/components/requestBodies/TaskListElementArray'
