Source: open-xchange-push-malpoll
Section: web
Priority: optional
Maintainer: Marcus Klein <marcus.klein@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.9.8
Homepage: http://www.open-xchange.com

Package: open-xchange-push-malpoll
Architecture: all
Depends: ${misc:Depends}, open-xchange-imap (>= @OXVERSION@)
Description: The Open-Xchange IMAP IDLE Push Bundle
