Source: open-xchange-osgi
Section: web
Priority: optional
Maintainer: Marcus Klein <marcus.klein@open-xchange.com>
Build-Depends: cdbs (>= 0.4.53), debhelper (>= 7.0.1), ant-optional (>= 1.7.0), java7-jdk | java7-sdk
Standards-Version: 3.8.4
Homepage: http://www.open-xchange.com

Package: open-xchange-osgi
Architecture: all
Pre-Depends: java7-runtime-headless
Replaces: open-xchange-common, open-xchange-activation
Conflicts: open-xchange-common, open-xchange-activation
Provides: open-xchange-common, open-xchange-activation
Description: 3rd party OSGi bundles used by the Open-Xchange backend
 This package installes 3rd party OSGi bundles for the Open-Xchange backend. This includes the Equinox OSGi framework and the servlet API.
 Furthermore libraries from the Apache Commons project are installed: CLI, Lang, Logging and some Apache service mix bundles.
