Source: open-xchange-osgi
Section: web
Priority: optional
Maintainer: Marcus Klein <marcus.klein@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.7.0), sun-java6-jdk|java6-sdk
Build-Conflicts: ecj, libecj-java-gcj, ecj-gcj, libecj-java, gcj-4.3-base, libgcj-common, libgcj9-0, libgcj-bc, libgcj9-jar, java-gcj-compat-headless, gcj-4.3, java-gcj-compat, java-gcj-compat-dev
Standards-Version: 3.6.1

Package: open-xchange-osgi
Architecture: all
Depends: ${misc:Depends}, adduser, sun-java6-jre|java6-runtime
Description: OSGi bundles commonly used by all Open-Xchange packages
