Source: open-xchange-messaging-sms
Section: web
Priority: optional
Maintainer: Benjamin Otterbach <benjamin.otterbach@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.7.0), ant-optional (>= 1.7.0), java7-jdk | java7-sdk, open-xchange-messaging (>= @OXVERSION@)
Standards-Version: 3.8.4
Homepage: http://www.open-xchange.com

Package: open-xchange-messaging-sms
Architecture: all
Depends: ${misc:Depends}, open-xchange-messaging (>= @OXVERSION@)
Description: General Messaging SMS Backend Bundle.
