Source: open-xchange-admin-plugin-reseller
Section: net
Priority: optional
Maintainer: choeger <choeger@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk|sun-java6-jdk|java6-sdk, open-xchange-admin-plugin-hosting (>= @OXVERSION@), open-xchange-admin-soap (>= @OXVERSION@), open-xchange-admin-plugin-autocontextid (>= @OXVERSION@)
Build-Conflicts: ecj, libecj-java-gcj, ecj-gcj, libecj-java, gcj-4.3-base, libgcj-common, libgcj9-0, libgcj-bc, libgcj9-jar, java-gcj-compat-headless, gcj-4.3, java-gcj-compat, java-gcj-compat-dev
Standards-Version: 3.6.1

Package: open-xchange-admin-plugin-reseller
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-admin-client (>= @OXVERSION@), open-xchange-admin-plugin-hosting (>= @OXVERSION@), open-xchange-admin-plugin-autocontextid (>= @OXVERSION@), open-xchange-admin-plugin-autocontextid-client (>= @OXVERSION@)
Description: Open Xchange Admin Reseller Plugin

Package: open-xchange-admin-plugin-reseller-soap
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-admin-plugin-reseller (>= @OXVERSION@), open-xchange-admin-soap (>= @OXVERSION@)
Description: Open Xchange Admin Reseller Plugin
