Source: open-xchange-admin-plugin-reseller
Section: net
Priority: optional
Maintainer: choeger <choeger@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk|sun-java6-jdk|java6-sdk, open-xchange-admin-plugin-hosting (>= 6.20.0.0), open-xchange-admin-soap (>= 6.20.0.0), open-xchange-admin-plugin-autocontextid (>= 6.20.0.0)
Build-Conflicts: ecj, libecj-java-gcj, ecj-gcj, libecj-java, gcj-4.3-base, libgcj-common, libgcj9-0, libgcj-bc, libgcj9-jar, java-gcj-compat-headless, gcj-4.3, java-gcj-compat, java-gcj-compat-dev
Standards-Version: 3.6.1

Package: open-xchange-admin-plugin-reseller
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-admin-client (>= 6.20.0.0), open-xchange-admin-plugin-hosting (>= 6.20.0.0), open-xchange-admin-plugin-autocontextid (>= 6.20.0.0), open-xchange-admin-plugin-autocontextid-client (>= 6.20.0.0)
Description: Open Xchange Admin Reseller Plugin

Package: open-xchange-admin-plugin-reseller-soap
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-admin-plugin-reseller (>= 6.20.0.0), open-xchange-admin-soap (>= 6.20.0.0)
Description: Open Xchange Admin Reseller Plugin SOAP server
