<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds" debug="false">
    <!-- Enable JMX default configurator
    <jmxConfigurator /> -->

    <!-- Enable the following logger if you would like to filter logging for specific user, session or context -->
    <!-- Use the following keys for MDCKey ... -->
    <!-- User logging:    com.openexchange.session.userId -->
    <!-- Session logging: com.openexchange.session.session -->
    <!-- Context logging: com.openexchange.session.contextId -->
    <!--
    <turboFilter class="ch.qos.logback.classic.turbo.MDCFilter">
        <MDCKey></MDCKey>
        <Value></Value>
        <OnMatch>ACCEPT</OnMatch>
    </turboFilter>

    ... add the OXException category filter here ...
    -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder class="com.openexchange.logback.extensions.ExtendedPatternLayoutEncoder">
            <!-- %date{yyyy-MM-dd HH:mm:ss.SSS} -->
            <pattern>%date{yyyy-MM-dd HH:mm:ss} logged at %class.%method\(%class{0}.java:%line\)%n%lmdc %-5level %msg%n</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Support multiple-JVM writing to the same log file -->
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>
        <facility>local2</facility>
        <suffixPattern>[%thread] %logger %msg</suffixPattern>
        <!--
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <pattern>%date open-xchange %-5level [%logger][%thread]: %class,%method %msg%n</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder> -->
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>2048</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="CONSOLE" />
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC" />
    </root>

    <!-- Package based logging. Possible levels: TRACE, DEBUG, INFO, WARN and ERROR -->

    <!-- Important note: -->
    <!-- The following option ensures, that all login relevant information is logged correctly. Such information is essential to detect -->
    <!-- and to address session issues, potentially caused by 3rd parties. -->
    <!-- Open-Xchange strongly suggests NOT to modify this configuration setting unless you are forced to do so by specific legal -->
    <!-- requirements, e.g. privacy regulations. -->
    <!-- -->
    <!-- Please note: If these settings are changed, Open-Xchange will take no responsibility and will exclude support regarding any -->
    <!-- session issues and potential security breaches arising thereof. -->
    <logger name="com.openexchange.login.internal.LoginPerformer" level="INFO"/>
    <logger name="com.openexchange.sessiond.impl.SessionHandler" level="INFO"/>

    <logger name="sun.rmi" level="INFO"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="com.sun" level="INFO"/>
    <logger name="javax.management" level="INFO"/>
    <logger name="javax.jmdns" level="WARN"/>
    <logger name="com.hazelcast" level="WARN"/>
    <logger name="org.glassfish.grizzly" level="WARN"/>

    <!-- Set to FINE to log SOAP requests for debugging purpose -->
    <logger name="org.apache.cxf" level="WARN"/>
    <logger name="com.openexchange.soap.cxf.logger" level="WARN"/>

    <!-- Set org.jaudiotagger to SEVERE -->
    <logger name="org.jaudiotagger" level="ERROR"/>

    <!-- Set global documentconverter logging level to WARNING -->
    <logger name="com.openexchange.documentconverter.impl.Manager" level="WARN"/>

    <!-- Reduce log level for htmlunit.jar -->
    <logger name="com.gargoylesoftware.htmlunit" level="WARN"/>

    <!-- Log access to UI files -->
    <!-- <logger name="com.openexchange.appsuite" level="DEBUG"/> -->

    <!-- A switch to control which exceptions are logged to the log file -->
    <!-- Set this to ALL to log all exceptions -->
    <logger name="com.openexchange.ajax.requesthandler.DispatcherServlet" level="INFO"/>

</configuration>
