<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds" debug="false">

    <!-- Uncomment to enable JMX default configurator -->
    <!-- jmxConfigurator /-->

    <!--
    Propagates changes made to the level of any logback-classic logger onto the java.util.logging framework. 
    If this listener will be deleted, ox backend will add it programmatically.
    -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/open-xchange/open-xchange.log.0</file>
        <rollingPolicy class="com.openexchange.logback.extensions.FixedWindowRollingPolicy">
            <fileNamePattern>/var/log/open-xchange/open-xchange.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>99</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>2MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="com.openexchange.logback.extensions.ExtendedPatternLayoutEncoder">
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSZ"} %-5level [%thread] %logger%n%message%n%lmdc%exception{full}</pattern>
        </encoder>
    </appender>

    <appender name="FILE_COMPAT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/open-xchange/open-xchange.log.0</file>
        <rollingPolicy class="com.openexchange.logback.extensions.FixedWindowRollingPolicy">
            <fileNamePattern>/var/log/open-xchange/open-xchange.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>99</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>2MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="com.openexchange.logback.extensions.ExtendedPatternLayoutEncoder">
            <pattern>%d{"MMM dd, yyyy H:m:s a"} %class %method%n%level: %message%lmdc%exception{full}%n</pattern>
        </encoder>
    </appender>

    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>
        <facility>local2</facility>
        <suffixPattern>%d open-xchange %-5p [%c][%t]: %C,%M %m%n</suffixPattern>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>2048</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="FILE" />
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC" />
    </root>

    <!--
    Important note:
    The following option ensures, that all login relevant information is logged correctly. Such information is essential to detect
    and to address session issues, potentially caused by 3rd parties.
    Open-Xchange strongly suggests NOT to modify this configuration setting unless you are forced to do so by specific legal
    requirements, e.g. privacy regulations.

    Please note: If these settings are changed, Open-Xchange will take no responsibility and will exclude support regarding any
    session issues and potential security breaches arising thereof.
    -->
    <logger name="com.openexchange.login.internal.LoginPerformer" level="INFO"/>
    <logger name="com.openexchange.sessiond.impl.SessionHandler" level="INFO"/>

    <!-- Package based logging. Possible levels: TRACE, DEBUG, INFO, WARN and ERROR -->
    <logger name="sun.rmi" level="INFO"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="com.sun" level="INFO"/>
    <logger name="javax.management" level="INFO"/>
    <logger name="javax.jmdns" level="WARN"/>
    <logger name="com.hazelcast" level="WARN"/>
    <logger name="org.glassfish.grizzly" level="WARN"/>

    <logger name="org.jaudiotagger" level="ERROR"/>
    <logger name="com.openexchange.documentconverter.impl.Manager" level="WARN"/>
    <logger name="com.gargoylesoftware.htmlunit" level="WARN"/>

    <!-- Set to DEBUG to log SOAP requests for debugging purpose -->
    <logger name="org.apache.cxf" level="WARN"/>
    <logger name="com.openexchange.soap.cxf.logger" level="WARN"/>

    <!-- Set this to DEBUG to log all exceptions -->
    <logger name="com.openexchange.ajax.requesthandler.DispatcherServlet" level="INFO"/>

    <!-- Log access to UI files -->
    <!-- <logger name="com.openexchange.appsuite" level="DEBUG"/> -->

</configuration>
