Source: open-xchange-linkedin
Section: web
Priority: optional
Maintainer: Steffen Templin <steffen.templin@open-xchange.com>
Build-Depends: cdbs (>= 0.4.53), debhelper (>= 7.0.1), ant-optional (>= 1.7.0), java7-jdk, open-xchange-oauth (>= @OXVERSION@), open-xchange-halo (>= @OXVERSION@)
Standards-Version: 3.8.4
Homepage: http://www.open-xchange.com
Build-Conflicts: ecj, libecj-java-gcj, ecj-gcj, libecj-java, gcj-4.3-base, libgcj-common, libgcj9-0, libgcj-bc, libgcj9-jar, java-gcj-compat-headless, gcj-4.3, java-gcj-compat, java-gcj-compat-dev

Package: open-xchange-linkedin
Architecture: all
Pre-Depends: open-xchange-system
Depends: ${misc:Depends}, open-xchange-oauth (>= @OXVERSION@), open-xchange-halo (>= @OXVERSION@)
Conflicts: open-xchange-oauth (<< 7.6.2-8), open-xchange-subscribe (<< 7.6.2-8), open-xchange-halo (<< 7.6.2-8)
Breaks: open-xchange-oauth (<< 7.6.2-8), open-xchange-subscribe (<< 7.6.2-8), open-xchange-halo (<< 7.6.2-8)
Replaces: open-xchange-oauth (<< 7.6.2-8), open-xchange-subscribe (<< 7.6.2-8), open-xchange-halo (<< 7.6.2-8)
Description: Open-Xchange integration with LinkedIn
 This package installs the bundles necessary for integrating Open-Xchange with LinkedIn. Special keys from LinkedIn are required to gain
 access to the relevant API on LinkedIn.
