<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds" debug="true">
    <!-- Enable JMX default configurator -->
    <jmxConfigurator />

    <!--    Propagates changes made to the level of any logback-classic logger onto the java.util.logging framework.
            If this listener will be deleted, ox backend will add it programmatically.-->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-5level %C{0}.%method\(%line\) %message%n%exception{full}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>2048</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="CONSOLE" />
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC" />
    </root>

    <!--
    Important note:
    The following options ensure, that all login relevant information is logged correctly. Such information is essential to detect
    and to address session issues, potentially caused by 3rd parties.
    Open-Xchange strongly suggests NOT to modify this configuration setting unless you are forced to do so by specific legal
    requirements, e.g. privacy regulations.

    Please note: If these settings are changed, Open-Xchange will take no responsibility and will exclude support regarding any
    session issues and potential security breaches arising thereof.
    -->
    <logger name="com.openexchange.login.internal.LoginPerformer" level="INFO"/>
    <logger name="com.openexchange.sessiond.impl.SessionHandler" level="INFO"/>

    <!-- Package based logging. Possible levels: TRACE, DEBUG, INFO, WARN and ERROR -->
    <logger name="sun.rmi" level="INFO"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="com.sun" level="INFO"/>
    <logger name="javax.management" level="INFO"/>
    <logger name="javax.jmdns" level="WARN"/>
    <logger name="com.hazelcast" level="WARN"/>
    <logger name="org.glassfish.grizzly" level="WARN"/>

    <!-- Set to DEBUG to log SOAP requests for debugging purpose -->
    <logger name="org.apache.cxf" level="WARN"/>
    <logger name="com.openexchange.soap.cxf.logger" level="WARN"/>

    <!-- Set org.jaudiotagger to ERROR -->
    <logger name="org.jaudiotagger" level="ERROR"/>

    <!-- Set global documentconverter logging level to WARN -->
    <logger name="com.openexchange.documentconverter.impl.Manager" level="WARN"/>

    <!-- Reduce log level for htmlunit.jar -->
    <logger name="com.gargoylesoftware.htmlunit" level="WARN"/>

    <!-- Log access to UI files -->
    <!-- <logger name="com.openexchange.appsuite" level="DEBUG"/> -->

    <!-- A switch to control which exceptions are logged to the log file -->
    <!-- Set this to DEBUG to log all exceptions -->
    <logger name="com.openexchange.ajax.requesthandler.DispatcherServlet" level="INFO"/>

    <!-- Debug if POParser takes so much time to load PO files. -->
    <logger name="com.openexchange.i18n.impl.POTranslationsDiscoverer" level="TRACE"/>
    
    <logger name="com.openexchange.test.pool" level="INFO"/>

</configuration>
