Source: open-xchange-oauth
Section: web
Priority: optional
Maintainer: Steffen Templin <steffen.templin@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.7.0), ant-optional (>= 1.7.0), sun-java6-jdk|java6-sdk, open-xchange-core (>= @OXVERSION@)
Standards-Version: 3.8.4
Homepage: http://www.open-xchange.com
Build-Conflicts: ecj, libecj-java-gcj, ecj-gcj, libecj-java, gcj-4.3-base, libgcj-common, libgcj9-0, libgcj-bc, libgcj9-jar, java-gcj-compat-headless, gcj-4.3, java-gcj-compat, java-gcj-compat-dev

Package: open-xchange-oauth
Architecture: all
Depends: ${misc:Depends}, sun-java6-jre|java6-runtime, open-xchange-core (>= @OXVERSION@)
Pre-Depends: dpkg (>= 1.15.7.2)
Breaks: open-xchange-http-deferrer (<< 7.0.0), open-xchange-oauth-facebook (<< 7.0.0), open-xchange-oauth-json (<< 7.0.0), open-xchange-oauth-linkedin (<< 7.0.0), open-xchange-oauth-msn (<< 7.0.0), open-xchange-oauth-twitter (<< 7.0.0), open-xchange-oauth-yahoo (<< 7.0.0)
Conflicts: open-xchange-http-deferrer (<< 7.0.0), open-xchange-oauth-facebook (<< 7.0.0), open-xchange-oauth-json (<< 7.0.0), open-xchange-oauth-linkedin (<< 7.0.0), open-xchange-oauth-msn (<< 7.0.0), open-xchange-oauth-twitter (<< 7.0.0), open-xchange-oauth-yahoo (<< 7.0.0)
Replaces: open-xchange-http-deferrer (<< 7.0.0), open-xchange-oauth-facebook (<< 7.0.0), open-xchange-oauth-json (<< 7.0.0), open-xchange-oauth-linkedin (<< 7.0.0), open-xchange-oauth-msn (<< 7.0.0), open-xchange-oauth-twitter (<< 7.0.0), open-xchange-oauth-yahoo (<< 7.0.0)
Description: The Open-Xchange OAuth implementation
