Source: open-xchange-messaging-sms
Section: unknown
Priority: optional
Maintainer: Benjamin Otterbach <benjamin.otterbach@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), un-j2sdk1.5|sun-java5-jdk|sun-java6-jdk|java6-sdk, open-xchange-common (>= @OXVERSION@), open-xchange-global (>= @OXVERSION@), open-xchange-server (>= @OXVERSION@), open-xchange-messaging (>= @OXVERSION@), open-xchange-messaging-generic (>= @OXVERSION@)
Build-Conflicts: ecj, libecj-java-gcj, ecj-gcj, libecj-java, gcj-4.3-base, libgcj-common, libgcj9-0, libgcj-bc, libgcj9-jar, java-gcj-compat-headless, gcj-4.3, java-gcj-compat, java-gcj-compat-dev
Standards-Version: 3.6.1

Package: open-xchange-messaging-sms
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, j2re1.5|sun-java5-jre|sun-java6-jre|java6-runtime, open-xchange-messaging (>= @OXVERSION@), open-xchange-messaging-generic (>= @OXVERSION@) 
Description: General Messaging SMS Backend Bundle.

Package: open-xchange-messaging-sms-gui
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-gui (>= @OXVERSION@), open-xchange-messaging-sms-gui-theme
Description: General Messaging SMS GUI Bundle.

Package: open-xchange-messaging-sms-gui-theme-default
Provides: open-xchange-messaging-sms-gui-theme
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, open-xchange-gui (>= @OXVERSION@), open-xchange-messaging-sms-gui (>= @OXVERSION@)
Description: General Messaging SMS GUI Themes Bundle.
