Source: open-xchange-configjump-generic
Section: web
Priority: optional
Maintainer: Marcus Klein <marcus.klein@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.7.0), ant-optional (>= 1.7.0), java7-jdk | java7-sdk, open-xchange-core (>= @OXVERSION@)
Standards-Version: 3.8.4
Homepage: http://www.open-xchange.com

Package: open-xchange-configjump-generic
Architecture: all
Pre-Depends: open-xchange-core (>= @OXVERSION@)
Depends: ${misc:Depends}
Description: Generic implementation providing a URL for the settings Extras link
 This package contains a bundle implementing the ConfigJumpService. This service always provides a URL that is opened in a new window when
 clicking on the Extras link in the preferences module. To activate this in the UI the corresponding UI plugin needs to be installed, too.
 That package is named open-xchange-configjump-generic-gui.
