Confirmation-Mail: InfoStore - 90 days - Free Trial:

Dear customer,
congratulations!
Now, you can test the InfoStore 90 days for free!

Your benefits are:
        Teamwork on important files & data
        Share or publish documents without sending large email attachments
        Ensure actuality through automatic versioning
        Distinguish between official and private content through “Personal” & “Public” folders
        Refer to documents via URL-link in projekts and meetings.
        Access your files anywhere anytime.
        Data-Security by centralized Server-Back-Up

You will find additional informationen about InfoStore here: http://www.open-xchange.com/en/top_benefits/docs-en

An InfoStore video can be watched here: http://www.youtube.com/openxchange6#p/a/f/1/JuPomENueKo

Enjoy your new Groupware.
