Confirmation-Mail: InfoStore - 90 days - Free Trial:
<br><br>
Dear customer,congratulations!<br><br>
Now, you can test the InfoStore 90 days for free!<br><br>

Your benefits are:<br><br>
- Teamwork on important files & data<br>
- Share or publish documents without sending large email attachments<br>
- Ensure actuality through automatic versioning<br>
- Distinguish between official and private content through "Personal" & "Public" folders<br>
- Refer to documents via URL-link in projekts and meetings.<br>
- Access your files anywhere anytime.<br>
- Data-Security by centralized Server-Back-Up<br>

<br>You will find additional informationen about InfoStore here: http://www.open-xchange.com/en/top_benefits/
docs-en<br><br>

An InfoStore video can be watched here: http://www.youtube.com/openxchange6#p/a/f/1/JuPomENueKo
<br><br>
Enjoy your new Groupware.
