<#macro date a_date>
	<span class="date">${a_date?string("yyyy-MM-dd")}</span>
</#macro>

<#macro datetime a_date>
	<span class="date">${a_date?string("yyyy-MM-dd, HH:mm zzz")}</span>
</#macro>

<#macro time a_date>
	<span class="date">${a_date?string("HH:mm zzz")}</span>
</#macro>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
<head>
	<title>OX Calendar PrintView</title>
</head>

<body>
	<h1>Your appointments 
		from <@datetime start /> 
		to <@datetime end />
	</h1>
	
	<ul>
	<#list appointmentblocks as appointmentblock>
		<li>
			<ul>
				<#list appointmentblock.appointments as appointment>
					<li><@datetime appointment.startDate /> ${appointment.title}</li>
				</#list>
			</ul>
		</li>
	</#list>
	</ul>
	
	<h1>Debugging data:</h1>
	<ul>
	<#list debuggingItems as debugItem>
		<li>${debugItem}</li>
	</#list>
	</ul>
</body>
</html>