Source: open-xchange-realtime-test-loadtest
Section: web
Priority: optional
Maintainer: Martin Schneider <martin.schneider@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.7.0), ant-optional (>= 1.7.0), sun-java6-jdk|java6-sdk, open-xchange-realtime-core (>= @OXVERSION@)
Standards-Version: 3.8.4
Homepage: http://www.open-xchange.com

Package: open-xchange-realtime-test-loadtest
Architecture: all
Depends: ${misc:Depends}, open-xchange-realtime-core (>= @OXVERSION@)
Description: Bundles for load testing of the Realtime framework server component
 This package includes all bundles that are required to load test the realtime server component. 