Source: open-xchange-conversion-engine
Section: unknown
Priority: optional
Maintainer: thorben <thorben.betten@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), sun-j2sdk1.5|sun-java5-jdk, open-xchange-global (>= @OXVERSION@), open-xchange-conversion (>= @OXVERSION@)
Standards-Version: 3.6.1

Package: open-xchange-conversion-engine
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, j2re1.5|sun-java5-jre, open-xchange-global (>= @OXVERSION@), open-xchange-conversion (>= @OXVERSION@)
Description: The Open-Xchange Conversion Engine Bundle
