Source: open-xchange-xerces-ibm
Section: unknown
Priority: optional
Maintainer: Marcus Klein <marcus.klein@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.6.5), java2-runtime, open-xchange-common (>= @OXVERSION@)
Standards-Version: 3.6.1

Package: open-xchange-xerces-ibm
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ibm-j2re1.5, open-xchange-common (>= @OXVERSION@)
Conflicts: open-xchange-xerces-sun
Provides: open-xchange-xerces
Description: Xerces Compat for Sun Java
