Source: open-xchange-pns-impl
Section: web
Priority: optional
Maintainer: Thorben Betten <thorben.betten@open-xchange.com>
Build-Depends: debhelper (>= 7.0.1)
Standards-Version: 3.9.8
Homepage: http://www.open-xchange.com

Package: open-xchange-pns-impl
Architecture: all
Pre-Depends: open-xchange-core (>= @OXVERSION@)
Depends: ${misc:Depends}
Description: The implementation bundle for Push Notification Service
