<div class="section_left">
	<b style="font-size: 14px">With your &#8220;SmartPhone&#8221; you access all vital data<br>(mail, calendar, contacts, etc.) effortlessly and manageable on the spot.</b><br>
	<ul>
	  <li>
		  Read and answer your mails.
		</li>
		<li>
		  Accept appointment proposals.
		</li>
		<li class="detail">
		  Organize your meetings.
		</li>
		<li class="detail">
		  Add new addresses.
		</li>
		<li class="detail">
		  Supported are: Windows Mobile 6.x, the Apple iPhone and Nokia S60 OS phones
		</li>
		<li class="detail">
		  Blackberry & Android phones are supported through additional Software-Clients.
		</li>
  </ul>
  <a style="display: block" href="#" class="detail_show">[more]</a>
  <b style="font-size: 14px; display: block; padding-top: 20px">Sign up for a 90 Day free trial; now!</b>
</div>
<div class="section_right">
  <a href="/plugins/com.openexchange.upsell.multiple.gui/templates/_mobility/img/mobility_big.png" class="light_box image" >
    <img src="/plugins/com.openexchange.upsell.multiple.gui/templates/_mobility/img/mobility_small.png" />
  </a>
  <a href="/plugins/com.openexchange.upsell.multiple.gui/templates/_mobility/flash/teaser/teaservideo06-mobility-en-draft03_controller.swf" class="light_box swf">
    <img src="/plugins/com.openexchange.upsell.multiple.gui/templates/_mobility/img/mobility_video.png" />
  </a>
</div>