<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/open-xchange/imageserver/imageserver.log.0</file>
        <rollingPolicy class="com.openexchange.logback.extensions.FixedWindowRollingPolicy">
            <fileNamePattern>/var/log/open-xchange/imageserver/imageserver.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>99</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>2MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="com.openexchange.logback.extensions.ExtendedPatternLayoutEncoder">
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSZ"} %-5level [%thread] %class.%method\(%class{0}.java:%line\)%n%sanitisedMessage%n%lmdc%exception{full}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>2048</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="FILE" />
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC" />
    </root>

    <!-- Package based logging. Possible levels: TRACE, DEBUG, INFO, WARN and ERROR -->
    <logger name="org.apache" level="WARN"/>
    <logger name="javax.jmdns" level="WARN"/>
    <logger name="com.hazelcast" level="WARN"/>
    <logger name="org.glassfish.grizzly" level="WARN"/>
    <logger name="liquibase.ext.logging.slf4j.Slf4jLogger" level="WARN"/>

    <logger name="org.jaudiotagger" level="ERROR"/>
    <logger name="com.gargoylesoftware.htmlunit" level="WARN"/>

    <logger name="org.apache.cxf" level="WARN"/>
    <logger name="com.openexchange.soap.cxf.logger" level="WARN"/>

</configuration>
