Source: open-xchange-admin
Section: web
Priority: optional
Maintainer: Marcus Klein <marcus.klein@open-xchange.com>
Build-Depends: debhelper (>= 4.0.0), ant (>= 1.7.0), ant-optional (>= 1.7.0), java7-jdk | java7-sdk, open-xchange-core (>= @OXVERSION@)
Standards-Version: 3.8.4
Homepage: http://www.open-xchange.com

Package: open-xchange-admin
Architecture: all
Pre-Depends: open-xchange-core (>= @OXVERSION@)
Depends: ${misc:Depends}, virtual-mysql-client | mysql-client (>=5.0) | mariadb-client (>= 5.5), bzip2, util-linux
Replaces: open-xchange-admin-plugin-hosting, open-xchange-admin-lib, open-xchange-admin-plugin-hosting-client, open-xchange-admin-plugin-hosting-doc, open-xchange-admin-client, open-xchange-admin-plugin-hosting-lib, open-xchange-admin-doc
Conflicts: open-xchange-admin-plugin-hosting, open-xchange-admin-lib, open-xchange-admin-plugin-hosting-client, open-xchange-admin-plugin-hosting-doc, open-xchange-admin-client, open-xchange-admin-plugin-hosting-lib, open-xchange-admin-doc
Description: The Open-Xchange backend administration extension
 This package installs the OSGi bundles to the backend that provide the RMI interface to administer the installation. This package contains
 the RMI interfaces for the overall administrative tasks like registering, changing and deleting servers, databases and filestores. It also
 contains the interfaces for creating, changing and deleting contexts, users, groups and resources.
