<div class="section_left">
	<b style="font-size: 14px">Where ever you are your documents are stored securely and<br> can be accessed and worked on, anytime!</b><br>
	<ul>
	  <li>
		  Teamwork on important files & data
		</li>
		<li>
		  Share or publish docments without sending large email attachments
		</li>
		<li class="detail">
		  Ensure actuality through automatic versioning
		</li>
		<li class="detail">
		  Distinguish between official and private content through &#8220;Personal&#8221; &amp; &#8220;Public&#8221; folders
		</li>
		<li class="detail">
		  Refer to documents via URL-link in projekts and meetings
		</li>
		<li class="detail">
		  Access your files anywhere anytime
		</li>
		<li class="detail">
		  Data-Security by centralized Server-Back-Up
		</li>
  </ul>
  <a style="display: block" href="#" class="detail_show">[more]</a>
  <b style="font-size: 14px; display: block; padding-top: 20px">Sign up for 90 Days free trial now !</b>
</div>
<div class="section_right">
  <a href="/plugins/com.openexchange.upsell.multiple.gui/templates/_infostore/img/infostore_big.png" class="light_box image" >
    <img src="/plugins/com.openexchange.upsell.multiple.gui/templates/_infostore/img/infostore_small.png" />
  </a>
  <a href="/plugins/com.openexchange.upsell.multiple.gui/templates/_infostore/flash/teaser/teaservideo01_pubsub-en-v2_controller.swf" class="light_box swf">
    <img src="/plugins/com.openexchange.upsell.multiple.gui/templates/_infostore/img/infostore_video.png" />
  </a>
</div>