---
title: Title of the page
icon: fa-add-an-icon ... see https://fontawesome.com/v4.7.0/icons/
---

Start with a brief description that explains the feature. Of course you might add details in subsections if you have a lot to describe...

You might want to answer:
- Does it play with other components and how?

# Deployment

Hot to get the feature run ...

## Dependencies

Add dependencies to 

- packages,
- databases (for instance globaldb)
- capabilities, 
- and so on ...

here.

## Database Changes

Consider the following: 

- Update Tasks: what will they change; you might mention the SCRs here
- Or ConfigDB/GlobalDB changes 
- ...

## Installation

Should at least include the packages the feature is shipped with.

## Configuration

How to enable the feature; which other properties can be configured; how do the properties interact with each other; give a link to properties documentation at documentation.open-xchange.com

# Administration

How to administrate the feature ...

## Provisioning

Is there something we should consider for provisioning?

## Command Line Tools

Are there any command line tools available? Give a short explanation

## Troubleshooting

- What errors might occur and under which conditions?
- What kind of logging information should be expected?
- how can I debug the component and provide you with useful information in case of a bug?
- ...

## Monitoring

- Are there any management beans available?
- ...

# Pitfalls

There might be drawbacks when deploying the feature.
- Known Limitations?
- Known Issues?

# Notes

Anything not menitioned yet (security considerations, ...)

# FAQ 

...

# References

All relevant links to other docs
