# This file configures the IP address ranges that will be excluded on the client IP check. Only add here IP address ranges that have clients
# that you trust unconditionally. This configuration file supports both IPv4 and IPv6 addresses.

127.0.0.1-127.255.255.255
::1-0:0:0:0:0:0:7fff:ffff
